{% extends 'explore_base.html' %} 
{% block main %}
{% load flatblock_tags %}

<h2>{% flatblock "data_catalog_title" %}</h2>
{% flatblock "data_catalog_intro" %}

<div class="row-fluid search-row">
    <div class="span12" style="margin: 15px 0;">
        <h3>Data Layer Search</h3>
        <form class="form-search">
            <input type="text" class="search-box" data-provide="typeahead" data-bind="value: searchTerm, event: { keyup: keySearch }">
            <i class="icon-remove-sign icon-large"></i> 
            <button type="submit" class="btn">
                find
            </button>
        </form>
    </div>
</div>

{% for theme_dict in themes %}
<div class="theme catalog-page">
	<div class="theme-context">
        <div class="row-fluid">
            <div class="span6">
                <a name="{{ theme_dict.theme.name }}"></a>
                <h3>
                    {{ theme_dict.theme.display_name }}
                </h3>
                <p>
                    {{ theme_dict.theme.description }} 
                    <span class="pull-right"><a href="{{theme_dict.learn_link}}">Learn More... </a></span>
                </p>  
            </div>
            <div class="span6">
                <a href="{{theme_dict.learn_link}}">
                    <div class="image">
                        <img src="{{MEDIA_URL}}marco/img/themes/{{theme_dict.theme.name}}.jpg" alt="">
                        <div class="caption">
                          {{ theme_dict.theme.display_name }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
	</div>
	<div>
	    <div>
            <h4>
                <span class="theme-name" data-name="{{theme_dict.theme.name}}" data-thumbnail=" {{theme_dict.theme.thumbnail}} ">
                    {{ theme_dict.theme.display_name }} Data Layers
                </span>
            </h4>
	        <div>
	            <div>
	                <table class="table table-striped table-condensed">
	                	<tbody>
	                		<!-- foreach layer -->
                            {% for layer in theme_dict.layers %}
                                {% if layer.is_parent %}
                                {% else %}
                                <tr>
                                    <td>
                                        <a id="{{layer.slug}}"></a>
                                        <span class="layer-name catalog-tooltip" rel="popover" 
                                            data-name="{{layer.name}}" 
                                            data-thumbnail="{{layer.thumbnail}}"
                                            data-content="{% if layer.tooltip %} {{layer.tooltip}} {% endif %}">{{layer.name}}
                                        </span>
                                    </td>
                                    <td>
                                        <ul class="unstyled">
                                            <li>
                                                {% if layer.bookmark %}
                                                <a href="{{layer.bookmark}}" target="_blank">
                                                    <span rel="tooltip" title="{% flatblock "data_catalog_view_link_tooltip" %}">
                                                        {% flatblock "data_catalog_view_link" %}
                                                    </span>
                                                </a>
                                                {% else %}
                                                <span class="link-not-available">
                                                    {% flatblock "data_catalog_view_link" %}
                                                </span>
                                                {% endif %}
                                            </li>
                                            <!--
                                            <li>
                                                {% if layer.map_tiles %}
                                                <a href="{{layer.map_tiles}}" target="_blank">
                                                    <span rel="tooltip" title="{% flatblock "data_catalog_maptiles_link_tooltip" %}">
                                                        {% flatblock "data_catalog_maptiles_link" %}
                                                    </span>
                                                </a>
                                                {% else %}
                                                <span class="link-not-available">
                                                    {% flatblock "data_catalog_maptiles_link" %}
                                                </span>
                                                {% endif %}
                                            </li>
                                            -->
                                            <li>
                                                {% if layer.kml %}
                                                <a href="{{layer.kml}}" target="_blank">
                                                    <span rel="tooltip" title="{% flatblock "data_catalog_kml_link_tooltip" %}">
                                                        {% flatblock "data_catalog_kml_link" %}
                                                    </span>
                                                </a>
                                                {% else %}
                                                <span class="link-not-available">
                                                    {% flatblock "data_catalog_kml_link" %}
                                                </span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if layer.data_download %}
                                                <a href="{{layer.data_download}}" target="_blank">
                                                    <span rel="tooltip" title="{% flatblock "data_catalog_data_link_tooltip" %}">
                                                        {% flatblock "data_catalog_data_link" %}
                                                    </span>
                                                </a>
                                                {% else %}
                                                <span class="link-not-available">
                                                    {% flatblock "data_catalog_data_link" %}
                                                </span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if layer.fact_sheet %}
                                                <a href="{{layer.fact_sheet}}" target="_blank">
                                                    <span rel="tooltip" title="{% flatblock "data_catalog_factsheet_link_tooltip" %}">
                                                        {% flatblock "data_catalog_factsheet_link" %}
                                                    </span>
                                                </a>
                                                {% else %}
                                                <span class="link-not-available">
                                                    {% flatblock "data_catalog_factsheet_link" %}
                                                </span>
                                                {% endif %}
                                            </li>
                                            <li>
                                               {% if layer.metadata %}
                                                <a href="{{layer.metadata}}" target="_blank">
                                                    <span rel="tooltip" title="{% flatblock "data_catalog_metadata_link_tooltip" %}">
                                                        {% flatblock "data_catalog_metadata_link" %}
                                                    </span>
                                                </a>
                                                {% else %}
                                                <span class="link-not-available">
                                                    {% flatblock "data_catalog_metadata_link" %}
                                                </span>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if layer.source %}
                                                <a href="{{layer.source}}" target="_blank">
                                                    <span rel="tooltip" title="{% flatblock "data_catalog_source_link_tooltip" %}">
                                                        {% flatblock "data_catalog_source_link" %}
                                                    </span>
                                                </a>
                                                {% else %}
                                                <span class="link-not-available">
                                                    {% flatblock "data_catalog_source_link" %}
                                                </span>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor layers %}
	                		<!-- end foreach layer -->
	                	</tbody>
	                </table>
	           	</div>
	        </div>
	    </div>
	</div>
</div>
{% endfor themes%}
<!-- endforeach theme -->
{% endblock %}

{% block javascript %}
<script>
    $(document).ready( function() {
        var layers = [],
            layer_index = {},
            search =  function(val) {
                var layer = layer_index[val],
                    theme_top = layer.layer.closest('.theme').offset().top;
                $(window).scrollTop(theme_top);
                layer.layer.closest('tr').effect("pulsate", {times:2 }, 500);
                setTimeout(function() {$(window).scrollTop(layer.layer.closest('tr').offset().top-300)}, 200);
            };

        if (window.location.hash) {
            $(window).scrollTop($(window).scrollTop() - 100);
        }

        $('.theme').each( function(index, theme) {
            var theme_name = $(theme).find('.theme-name').text();
            $(theme).find('.layer-name').each( function(index, layer) {
                var name = $(layer).text().trim() + ' (' + theme_name.trim() + ')';
                layers.push(name);
                layer_index[name] = { 
                    layer: $(layer)
                };
            });
        });
        $('.search-box').typeahead( {
            source: layers.sort()
        });
        $('.form-search').submit(function (event) {
            event.preventDefault();
            search($(this).find('input').val());
        });
        
        $('input').on('keyup', function (event) {
            event.preventDefault();    
            if (event.which === 13) {
                search($(this).val());
            }
        });

        $('ul.typeahead').on('click', 'li', function () {
            search($(this).text());
        });

        $('.theme-name').on('hover', function() {
            var span = $(this),
                name = span.data('name'),
                thumbnail = span.data('thumbnail'),
                theme = span.closest('.theme');
            //theme.find('.title').text(name);
            if ( thumbnail === 'None' || thumbnail === '') {
                thumbnail = 'http://placehold.it/320x180';
            }
            //theme.find('.thumbnail img').attr('src', thumbnail);
        });
        $('.layer-name').on('hover', function() {
            var layer = $(this),
                name = layer.data('name'),
                thumbnail = layer.data('thumbnail'),
                theme = layer.closest('.theme');
            //theme.find('.title').text(name);
            if ( thumbnail === 'None' || thumbnail === '') {
                thumbnail = 'http://placehold.it/320x180';
            }
            //theme.find('.thumbnail img').attr('src', thumbnail);
        });
        //overriding the template here to remove empty space for title
        $('.layer-name').popover({
            template: '<div class="popover layer-popover"><div class="arrow"></div><div class="popover-inner layer-tooltip"><div class="popover-content"><p></p></div></div></div>'
        });
        
    });
</script>
{% endblock %}