{% extends 'explore_base.html' %} 
{% block main %}
{% load flatblock_tags %}

<!--  foreach theme  -->
<h2>Data Catalog</h2>
The Data Catalog gathers available data and recruits new data about ocean resources and human use information such as fishing grounds, recreational areas, shipping lanes, habitat areas, and energy sites. Data falls into one of seven themes listed below. You can explore the data available under each theme, and you can also see the MARCO Portal’s key new data needs under Data Priorities.
<div class="row-fluid search-row">
    <div class="span12 ">
        <h3>Data Layer Search</h3>
        <form class="form-search">
            <div class="span10">
                <input type="text" class="search-box span12" data-provide="typeahead" data-bind="value: searchTerm, event: { keyup: keySearch }">
            </div>
            <div class="span2">
                <button type="submit" class="btn">
                    find
                </button>
            </div>
        </form>
    </div>
</div>
{% for theme_dict in themes %}
<div class="theme catalog-page">
	<div class="theme-context">
        <div class="row-fluid">
            <div class="span6">
                <a name="{{ theme_dict.theme.name }}"></a>
                <h3>
                    {{ theme_dict.theme.display_name }}
                </h3>
                <p>
                    {{ theme_dict.theme.description }} 
                    <span class="pull-right"><a href="{{theme_dict.learn_link}}">Read More... </a></span>
                </p>  
            </div>
            <div class="span6">
                <a href="{{theme_dict.learn_link}}">
                    <div class="image">
                        <img src="{{MEDIA_URL}}marco/img/themes/{{theme_dict.theme.name}}.jpg" alt="">
                        <div class="caption">
                          {{ theme_dict.theme.display_name }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
	</div>
	<div>
	    <div>
            <h4>
                <span class="theme-name" data-name="{{theme_dict.theme.name}}" data-thumbnail=" {{theme_dict.theme.thumbnail}} ">
                    {{ theme_dict.theme.display_name }} Data Layers
                </span>
            </h4>
	        <div>
	            <div>
	                <table class="table table-striped table-condensed">
	                	<tbody>
	                		<!-- foreach layer -->
                            {% for layer in theme_dict.layers %}
                                {% if layer.is_parent %}
                                {% else %}
                                <tr>
                                    <td>
                                        <span class="layer-name catalog-tooltip" rel="popover" 
                                                data-name="{{layer.name}}" 
                                                data-thumbnail="{{layer.thumbnail}}"
                                                data-content="{% if layer.tooltip %} {{layer.tooltip}} {% endif %}">{{layer.name}}
                                        </span>
                                    </td>
                                    {% if layer.bookmark %}
                                    <td><a href="{{layer.bookmark}}" target="_blank">view</a></td>
                                    {% else %}
                                    <td class="link-not-available">view</td>
                                    {% endif %}
                                    {% if layer.map_tiles %}
                                    <td><a href="{{layer.map_tiles}}" target="_blank">map tiles</a></td>
                                    {% else %}
                                    <td class="link-not-available">map tiles</td>
                                    {% endif %}
                                    {% if layer.kml %}
                                    <td><a href="{{layer.kml}}" target="_blank">kml</a></td>
                                    {% else %}
                                    <td class="link-not-available">kml</td>
                                    {% endif %}
                                    {% if layer.data_download %}
                                    <td><a href="{{layer.data_download}}" target="_blank">data</a></td>
                                    {% else %}
                                    <td class="link-not-available">data</td>
                                    {% endif %}
                                    {% if layer.fact_sheet %}
                                    <td><a href="{{layer.fact_sheet}}" target="_blank">description</a></td>
                                    {% else %}
                                    <td class="link-not-available">fact sheet</td>
                                    {% endif %}
                                    {% if layer.metadata %}
                                    <td><a href="{{layer.metadata}}" target="_blank">metadata</a></td>
                                    {% else %}
                                    <td class="link-not-available">metadata</td>
                                    {% endif %}
                                    {% if layer.source %}
                                    <td><a href="{{layer.source}}" target="_blank">source</a></td>
                                    {% else %}
                                    <td class="link-not-available">source</td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor layers %}
	                		<!-- end foreach layer -->
	                	</tbody>
	                </table>
	           	</div>
	        </div>
	    </div>
	</div>
</div>
{% endfor themes%}
<!-- endforeach theme -->

{% endblock %}
{% block javascript %}
<script>
    $(document).ready( function() {
        var layers = [],
            layer_index = {};
        $('.theme').each( function(index, theme) {
            var theme_name = $(theme).find('.theme-name').text();
            $(theme).find('.layer-name').each( function(index, layer) {
                var name = $(layer).text().trim() + ' (' + theme_name.trim() + ')';
                layers.push(name);
                layer_index[name] = { 
                    layer: $(layer)
                };
            });
        });
        $('.search-box').typeahead( {
            source: layers.sort()
        });
        $('.form-search').submit( function(event) {
            var layer = layer_index[$(this).find('input').val()]
                theme_top = layer.layer.closest('.theme').offset().top;
            event.preventDefault();
            $(window).scrollTop(theme_top);
            layer.layer.closest('tr').effect("pulsate", {times:2 }, 500);
        });
        
        $('.theme-name').on('hover', function() {
            var span = $(this),
                name = span.data('name'),
                thumbnail = span.data('thumbnail'),
                theme = span.closest('.theme');
            //theme.find('.title').text(name);
            if ( thumbnail === 'None' || thumbnail === '') {
                thumbnail = 'http://placehold.it/320x180';
            }
            //theme.find('.thumbnail img').attr('src', thumbnail);
        });
        $('.layer-name').on('hover', function() {
            var layer = $(this),
                name = layer.data('name'),
                thumbnail = layer.data('thumbnail'),
                theme = layer.closest('.theme');
            //theme.find('.title').text(name);
            if ( thumbnail === 'None' || thumbnail === '') {
                thumbnail = 'http://placehold.it/320x180';
            }
            //theme.find('.thumbnail img').attr('src', thumbnail);
        });
        //overriding the template here to remove empty space for title
        $('.layer-name').popover({template: '<div class="popover layer-popover"><div class="arrow"></div><div class="popover-inner layer-tooltip"><div class="popover-content"><p></p></div></div></div>'});
        
    });
</script>
{% endblock %}