<!doctype html>
<!--[if IEMobile 7 ]>
    <html dir="ltr" lang="en-US" class="no-js iem7">
    <![endif]-->
    <!--[if lt IE 7 ]>
        <html dir="ltr" lang="en-US" class="no-js ie6">
        <![endif]-->
        <!--[if IE 7 ]>
            <html dir="ltr" lang="en-US" class="no-js ie7">
            <![endif]-->
            <!--[if IE 8 ]>
                <html dir="ltr" lang="en-US" class="no-js ie8">
                <![endif]-->
                <!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]>
                    <!-->
                    <html dir="ltr" lang="en-US" class="no-js">
                    <!--<![endif]-->
                    
                    <head>
                        <meta charset="utf-8">
                        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                        <title>
                        </title>
                        <meta name="viewport" content="initial-scale=1.0">
                        <!-- media-queries.js (fallback) -->
                        <!--[if lt IE 9]>
                            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js">
                            </script>
                            <style>
                            #feedback-tab {
                                -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.836909530733566e-16, M12=-1, M21=1, M22=-1.836909530733566e-16, SizingMethod='auto expand')";
                                left: 0px;
                                /* IE6 and 7 */ 
                                filter: progid:DXImageTransform.Microsoft.Matrix(
                                         M11=-1.836909530733566e-16,
                                         M12=-1,
                                         M21=1,
                                         M22=-1.836909530733566e-16,
                                         SizingMethod='auto expand');

                              }
                            </style>
                        <![endif]-->
                        <!-- html5.js -->
                        <!--[if lt IE 9]>
                            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
                            </script>
                        <![endif]-->
                        <!--[if IE]>
                                <link rel="stylesheet" href="{{MEDIA_URL}}marco/css/marco_style.ie.css">
                        <![endif]-->        
                        
                        <link rel="stylesheet" href="{{MEDIA_URL}}marco/css/bootstrap.css">
                        <link rel="stylesheet" href="{{MEDIA_URL}}marco/css/bootstrap-responsive.css">

                        <!-- marco stylesheet -->
                        <link rel="stylesheet" href="{{MEDIA_URL}}marco/css/marco_style.css">
                        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css">
                        <link rel="shortcut icon" href="{{MEDIA_URL}}marco/ico/favicon.ico">
                        <style>
                            body {
                                margin-top: 110px;
                            }
                            #sidebar-nav {
                                top: 95px;
                            }
                            .navbar .nav > li a {
                                height: 45px;
                                padding-top: 30px;
                            }
                        </style>
                        <!--[if IE 7]>
                          <link rel="stylesheet" href="{{MEDIA_URL}}marco/css/font-awesome-ie7.css">
                        <![endif]-->

                    </head>
                    
                    <body class="blog">
                        <header role="banner">
                            <div class="navbar navbar-fixed-top">
                                <div class="navbar-inner">
                                <div class="container">
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <a href="/portal">
                                                <img src="/portal/wp-content/themes/marco/img/marco-logo.gif"/>
                                            </a>
                                        </div>
                                        <div class="span8">
                                             <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                                 <span class="icon-bar"></span>
                                                 <span class="icon-bar"></span>
                                                 <span class="icon-bar"></span>
                                             </a>
                                              
                                            <div class="pull-right nav-collapse">
                                                <ul class="nav">
                                                    <li>
                                                        <a a href="/portal/news">News</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="/portal/about">About the&nbsp;Portal</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://www.midatlanticocean.org/">Visit MARCO</a>
                                                    </li>
                                                </ul>
                                                <form class="form-search pull-right" action="/portal/"
                                                method="get">
                                                    <input type="text" class="search-box" name="s" id="search"
                                                    value="">
                                                    <i class="icon-remove-sign icon-large"></i> 
                                                    <button type="submit" class="btn">
                                                        Search
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!--/.nav-collapse -->
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div id="feedback-tab" class="rounded" data-toggle="modal" data-target="#feedback-modal">
                            feedback
                        </div>
                        <div id="feedback-modal" class="modal hide fade">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3>Feedback</h3>
                            </div>
                            <form class="form-horizontal" id="feedback-form">
                            <div class="modal-body">        
                                <div class="control-group">
                                  <label class="control-label" for="name">Full Name</label>
                                  <div class="controls">
                                    <input class="input-xlarge" type="text" name="name" placeholder="Full Name" required>
                                  </div>
                                </div>
                                <div class="control-group">
                                  <label class="control-label" for="email">Email Address</label>
                                  <div class="controls">
                                    <input class="input-xlarge" type="email" name="email" placeholder="Email Address" required>
                                  </div>
                                </div>
                                <div class="control-group">
                                  <label class="control-label" for="comment">Comment</label>
                                  <div class="controls">
                                      <textarea class="input-xlarge" rows="3" name="comment" required></textarea>
                                  </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button href="#" class="btn" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send Feedback</button>
                            </div>
                          </form>
                        </div>
                        <!-- end header -->
                        <div class="container">
                            <div id="content" class="row-fluid">
                                <div id="main" class="span10" role="main">
                                    {% block  main %}{% endblock %}
                                </div>
                                    <div class="sidebar span2" role="complementary">
                                        <div id="sidebar-nav">
                                            <div>
                                                <h3>
                                                    <a href="{{domain8010}}/portal/learn">Learn</a>
                                                </h3>
                                                <ul>
                                                    <li {% if theme.name == 'administrative' %}class="active"{% endif %}>
                                                        <a href="{{domain}}/learn/administrative">Administrative</a>
                                                    </li>
                                                    <li {% if theme.name == 'fishing' %}class="active"{% endif %}>
                                                        <a href="{{domain}}/learn/fishing">Fishing</a>
                                                    </li>
                                                    <li {% if theme.name == 'conservation' %}class="active"{% endif %}>
                                                        <a href="{{domain}}/learn/conservation">Marine Life</a>
                                                    </li>
                                                    <li {% if theme.name == 'maritime-industries' %}class="active"{% endif %}>
                                                        <a href="{{domain}}/learn/maritime-industries">Maritime</a>
                                                    </li>
                                                    <li {% if theme.name == 'recreation' %}class="active"{% endif %}>
                                                        <a href="{{domain}}/learn/recreation">Recreation</a>
                                                    </li>
                                                    <li {% if theme.name == 'energy' %}class="active"{% endif %}>
                                                        <a href="{{domain}}/learn/energy">Renewable Energy</a>
                                                    </li>
                                                    <li {% if theme.name == 'security' %}class="active"{% endif %}>
                                                        <a href="{{domain}}/learn/security">Security</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h3>
                                                    <a href="{{domain8010}}/portal/explore">Explore</a>
                                                </h3>

                                                <ul>
                                                    {% load flatblock_tags %}
                                                    <li {% if request.path == '/explore/catalog' %}class="active"{% endif %}><a href="{{domain}}/explore/catalog">{% flatblock "data_catalog_title" %}</a></li>
                                                    <li {% if request.path == '/explore/needs' %}class="active"{% endif %}><a href="{{domain}}/explore/needs">{% flatblock "data_needs_title" %}</a></li>
                                                </ul>
                                            </div>
                                            <div id="recent-posts-3" class="widget widget_recent_entries">
                                                <h3 class="widgettitle">
                                                    <a href="{{domain8010}}/portal/visualize">Visualize</a>
                                                </h3>
                                                <ul>
                                                    <li><a href="/visualize" target="_blank">Marine Planner</a></li>
                                                    <li><a href="{{domain8010}}/portal/visualize#cartography">Cartography</a></li>
                                                    <li><a href="{{domain8010}}/portal/visualize#collaboration">Collaboration</a></li>
                                                    <li><a href="{{domain8010}}/portal/visualize#interactivity">Interactivity</a></li>
                                                </ul>
                                            </div>
                                            {% block sidebar %}
                                            {% endblock sidebar %}
                                        </div>
                                    </div>
                                </div>
                                <!-- end #content -->
                                <hr>
                                
                                <footer>
                                  <div class="row">
                                    <div class="span7 social">
                                      <h5>Contact Us</h5>
                                        info@portal.midatlanticocean.org<br>
                                        732-263-5392
                                      <p></p>
                                    </div>
                                    <div class="span3 social">
                                        <div class="pull-right">
                                            <h5>connect with us</h5>              
                                            <a href="/portal/feed/"><i class="icon-rss icon-large"></i></a>
                                            <a href="https://twitter.com/PortalMARCO"><i class="icon-twitter icon-large"></i></a>
                                            <!-- <a href=""><i class="icon-linkedin icon-large"></i></a>
                                            <a href=""><i class="icon-google-plus icon-large"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="span2">
                                    </div>
                                  </div>
                                </footer>
                                
                            </div>
                            <!-- end #container -->
                            <!-- scripts are now optimized via Modernizr.load -->\
                            <script src="{{MEDIA_URL}}marco/js/jquery.js"></script>  
                            <script src="{{MEDIA_URL}}/marco-proto/assets/js/jquery-ui.js"></script>
                            <script src="{{MEDIA_URL}}marco-proto/assets/js/bootstrap-transition.js"></script>
                            <script src="{{MEDIA_URL}}marco-proto/assets/js/bootstrap-typeahead.js"></script>   
                            <script src="{{MEDIA_URL}}marco-proto/assets/js/bootstrap-tooltip.js"></script>
                            <script src="{{MEDIA_URL}}marco-proto/assets/js/bootstrap-popover.js"></script>
                            <script src="{{MEDIA_URL}}marco-proto/assets/js/bootstrap-modal.js"></script>
                            <script src="{{MEDIA_URL}}marco/js/bootstrap-collapse.js"></script>  
                            <script>
                            if (!Array.prototype.indexOf) {

                            
                                Array.prototype.indexOf = function(obj, start) {
                                     for (var i = (start || 0), j = this.length; i < j; i++) {
                                         if (this[i] === obj) { return i; }
                                     }
                                     return -1;
                                }
                             }

                            // handle the search clear buttons
                            $('.icon-remove-sign').on('click', function (event) {
                                $(event.target).prev('input').val('').focus();
                            });

                           $('#feedback-form').on('submit', function (event) {
                             var feedback = {}, $form = $(this);
                             event.preventDefault();
                              $(this).find('input, textarea').each(function (i, input) {
                                 var $input = $(input);
                                 feedback[$input.attr('name')] = $input.val();
                              });
                                  feedback.url = window.location.href;
                              $.post('/feedback/send', feedback, function () {
                                 $form.closest('.modal').modal('hide')
                              });
                              $form.closest('.modal').modal('hide')
                           });
                           $('.attrib').hover(
                            function (event) {
                                var $target = $(event.target), 
                                    $text = $target.find('.text');
                                $text.show().position({
                                    of: $target,
                                    my: "right top",
                                    at: "left bottom",
                                    offset: "2px"
                                });
                                    
                            },
                            function (event) {
                                $(event.target).find('.text').hide();
                            }
                           );


                            </script>
                            {% block javascript %}
                            {% endblock %}
                    </body>
                    </html>
