{% extends 'explore_base.html' %} 
{% block  title %}MARCO Data Priorities{% endblock %}
{% block main %}
{% load flatblock_tags %}

<div style="padding-bottom: 20px">
    <h2>{% flatblock "external_resources_title" %}</h2>
    {% flatblock "external_resources_intro" %}
</div>

<div id="map-resources" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle no-decoration" data-toggle="collapse" data-parent="#map-resources-tools" href="#map-resources-dropdown">
                <h3>Map Resources</h3>
            </a>
        </div>
        <div id="map-resources-dropdown" class="accordion-body collapse">
            <div class="accordion-inner borderless">
                <h4>Global</h4>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://www.iobis.org" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/Ocean Biogeographic.png" title="OBIS"></a></span>
                    <span class="text-link"><a href="http://www.iobis.org" target="_blank">Ocean Biogeographic Information System</a> allows users to search marine species datasets from all of the world's oceans.</span>
                </div>
                <h4>Federal</h4>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://www.marinecadastre.gov/default.aspx" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/Marine Cadastre.png" title="MarineCadastre.gov"></a></span>
                    <span class="text-link"><a href="http://www.marinecadastre.gov/default.aspx" target="_blank">MarineCadastre.gov</a> is an integrated marine information system that provides authoritative and regularly updated ocean information.</span>
                </div>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://csc.noaa.gov/digitalcoast/dataregistry/" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/NOAA Digital Coast.png" title="NOAA Digital Coast"></a></span>
                    <span class="text-link"><a href="http://csc.noaa.gov/digitalcoast/dataregistry/" target="_blank">NOAA Digital Coast</a> provides data, tools, and training to help communities coastal issues.</span>
                </div>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://www.data.gov/ocean/community/ocean" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/National Oceans Council.png" title="Data.gov"></a></span>
                    <span class="text-link"><a href="http://www.data.gov/ocean/community/ocean" target="_blank">National Ocean Council - Data.gov</a> offers data, information, and decision tools to support people engaged in regional marine planning for the future use of the ocean, our coasts, and the Great Lakes.</span>
                </div>
                <h4>Regional</h4>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://www.macoora.org/" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/MARACOOS 1.png" title="MARACOOS"></a></span>
                    <span class="text-link"><a href="http://www.macoora.org/" target="_blank">Mid-Atlantic Regional Association Coastal Ocean Observing System (MARACOOS)</a> covers the region from Cape Cod, MA to Cape Hatteras, NC for U.S. IOOS.</span>
                </div>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://northeastoceanviewer.org" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/Northeast Ocean 1.png" title="NROC"></a></span>
                    <span class="text-link"><a href="http://northeastoceanviewer.org" target="_blank">Northeast Ocean Data Portal</a> provides maps and data for ocean planning in the northeastern U.S.</span>
                </div>
                <h4>State</h4>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://www.dnr.state.md.us/ccp/coastalatlas/ocean.asp" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/Maryland 1.png" title="Maryland Coastal Atlas"></a></span>
                    <span class="text-link"><a href="http://www.dnr.state.md.us/ccp/coastalatlas/ocean.asp" target="_blank">Maryland Coastal Atlas: Ocean</a> mapping tool allows users to view ocean data and access to tools to understand and balance multiple ocean uses.</span>
                </div>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://www.nyoglatlas.org/" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/New York.png" title="New York Ocean and Great Lakes Atlas"></a></span>
                    <span class="text-link"><a href="http://www.nyoglatlas.org/" target="_blank">New York Ocean and Great Lakes Atlas</a> was created to help the public easily access an extensive catalog of data, ranging from social to economic to environmental information.</span>
                </div>
                <div class="map-resource-item">
                    <span class="img-link"><a href="http://www.coastalgems.org/" target="_blank"><img src="{{MEDIA_URL}}marco/img/external_resources/Virginia Coast.png" title="GEMS"></a></span>
                    <span class="text-link"><a href="http://www.coastalgems.org/" target="_blank">Virginia Coastal Geospatial and Educational Mapping System (GEMS)</a> is a gateway to Virginia's coastal resource data and maps.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle no-decoration" data-toggle="collapse" href="#data-resources-dropdown">
                <h3>Data Resources</h3>
            </a>
        </div>
        <div id="data-resources-dropdown" class="accordion-body collapse">
            <div class="accordion-inner borderless">
                <h4>Federal</h4>
                <ul>
                    <li><a href="http://gis.boemre.gov/arcgis/rest/services/BOEM_BSEE/MMC_Layers/MapServer" target="_blank">Bureau of Ocean Energy Management - Map Server</a></li>
                    <li><a href="http://www.boem.gov/" target="_blank">Bureau of Ocean Energy Management</a></li>
                    <li><a href="http://www.epa.gov/" target="_blank">Environmental Protection Agency</a></li>
                    <li><a href="http://www.csc.noaa.gov/ArcGISPUB/rest/services/MarineCadastre/" target="_blank">MarineCadastre.gov - GIS</a></li>
                    <li><a href="http://egisws02.nos.noaa.gov/cmspgisdataregistry/" target="_blank">NOAA Coastal and Marine Spatial Planning Data Registry</a></li>
                    <li><a href="http://coralreef.noaa.gov/deepseacorals/noaasrole/research_technology/" target="_blank">NOAA Coral Reef Conservation Program</a></li>
                    <li><a href="http://www.nmfs.noaa.gov/ " target="_blank">NOAA Fisheries</a></li>
                    <li><a href="http://www.habitat.noaa.gov/protection/efh/habitatmapper.html" target="_blank">NOAA Habitat Conservation</a></li>
                    <li><a href="http://www.ioos.noaa.gov/catalog/ " target="_blank">NOAA Integrated Ocean Observing System</a></li>
                    <li><a href="http://www.ngdc.noaa.gov/" target="_blank">NOAA National Geophysical Data Center (NGDC)</a></li>
                    <li><a href="http://www.nefsc.noaa.gov/ " target="_blank">NOAA Northeast Fisheries Science Center (NEFSC)</a></li>
                    <li><a href=" http://www.nauticalcharts.noaa.gov/" target="_blank">NOAA Office of Coast Survey (OCS)</a></li>
                    <li><a href="http://www.ndc.iwr.usace.army.mil/" target="_blank">US Army Corps of Engineers - Navigation Data Center</a></li>
                    <li><a href="http://spatialdata.sam.usace.army.mil/organizations/GIS/Data.aspx" target="_blank">US Army Corps of Engineers - Spatial Data Branch</a></li>
                    <li><a href="http://www.fws.gov/" target="_blank">US Fish & Wildlife Service</a></li>
                    <li><a href="http://coastalmap.marine.usgs.gov/" target="_blank">US Geological Survey - Internet Map Server and GIS Data</a></li>
                    <li><a href="http://spatialdata.sam.usace.army.mil/organizations/GIS/Data.aspx " target="_blank">US Geological Survey - Internet Map Server and GIS Data</a></li>
                </ul>
                
                <h4>Regional</h4>
                <ul>
                    <li><a href="http://maracoos.org/web_products" target="_blank">MARACOOS</a></li>
                    <li><a href="http://coastalmap.marine.usgs.gov/regional/contusa/eastcoast/index.html" target="_blank">US Atlantic Coast and Eastern Region Internet Map Server</a></li>
                </ul>
                
                <h4>State</h4>
                <ul>
                    <li><a href="http://www.dnrec.delaware.gov/" target="_blank">Delaware Department of Natural Resources & Environmental Control</a></li>
                    <li><a href="http://www.dnrec.delaware.gov/coastal/Pages/CoastalMgt.aspx" target="_blank">Delaware Coastal Management Program</a></li>
                    <li><a href="http://www.dnr.state.md.us/bay/czm/ocean/index.asp" target="_blank">Maryland Department of Natural Resources</a></li>
                    <li><a href="http://www.dnr.state.md.us/gis/" target="_blank">Maryland Department of Natural Resources - Maps and Map Data</a></li>
                    <li><a href="http://www.nj.gov/dep/cmp/" target="_blank">New Jersey Coastal Management Program</a></li>
                    <li><a href="http://www.nj.gov/dep/" target="_blank">New Jersey Department of Environmental Protection</a></li>
                    <li><a href="http://www.nyswaterfronts.com/" target="_blank">New York State Department of State Division of Coastal Resources</a></li>
                    <li><a href="http://www.nyoglecc.org/" target="_blank">New York Ocean and Great Lakes Ecosystem Conservation Council</a></li>
                    <li><a href="http://www.naturalresources.virginia.gov/" target="_blank">Virginia Secretary of Natural Resources</a></li>
                    <li><a href="http://www.deq.virginia.gov/Programs/CoastalZoneManagement.aspx" target="_blank">Virginia Coastal Zone Management Program</a></li>
                </ul>

                <h4>Non-Government</h4>
                <ul>
                    <li><a href="http://www.ebmtools.org/" target="_blank">Ecosystem-Based Management Tools Network</a></li>
                    <li><a href="http://knb.ecoinformatics.org/knb/style/skins/nceas/index.jsp" target="_blank">National Center for Ecological Analysis and Synthesis Data Repository</a></li>
                    <li><a href="http://www.oceaneconomics.org/" target="_blank">National Ocean Economics Program</a></li>
                    <li><a href="http://www.nrel.gov/gis/data_wind.html" target="_blank">National Renewable Energy Laboratory (NREL)</a></li>
                    <li><a href="http://www.nature.org/ourinitiatives/regions/northamerica/areas/easternusmarine/index.htm" target="_blank">The Nature Conservancy - Eastern US Marine</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
.borderless {
    border: 0px;
}
.no-decoration {
    text-decoration: none !important;
}
#map-resources-dropdown .map-resource-item {
    margin-bottom: 20px;
    margin-left: 10px;
    position: relative;
    height: 80px;
}
#map-resources-dropdown .img-link {
    display: inline-block;
    position: absolute;
}
#map-resources-dropdown .img-link:hover {
    text-decoration: none;
}
#map-resources-dropdown .text-link {
    display: inline-block;
    margin-left: 10px;
    padding-left: 150px;
}

</style>

{% endblock %}

{% block javascript %}
<script>
$(document).ready( function() {
});
</script>
{% endblock %}