{% extends 'explore_base.html' %} 

{% block main %}

<h2>Spatial Data Needs and Updates</h2>
<p>
	The Mid-Atlantic Regional Council on the Ocean (MARCO) has developed the following list that identifies some of the 
    highest priority unmet ocean planning data needs as well as data currently under development, but not yet available 
    for the Mid-Atlantic Region. The Northeast Regional Ocean Council (NROC) shares many of these data needs, and MARCO 
    and NROC are coordinating on the collection and development of data that cover both regions. The data and information 
    identified for MARCO are fundamental to moving forward with regional ocean planning efforts in the Mid-Atlantic, 
    especially in light of state and federal goals for accelerating offshore wind power development along the Atlantic 
    Coast. Federal agencies have both data and expertise that could help meet these needs and many relevant studies are 
    currently underway.
</p>
<p>
    We are specifically asking governmental representatives and others in the Mid-Atlantic region:
    <ul>
        <li>Do you have spatial data that might address an identified data gap? </li>
        <li>Are you aware of any plans to collect data that might address specific identified data gaps?</li>
        <li>Are there additional ocean planning data needs we have not identified?</li>
    </ul>
    We welcome your responses to these inquiries, and request that you send information and suggestions to 
    <a href:'mailto:info@portal.midatlanticocean.org'>info@portal.midatlanticocean.org</a>
</p>
<p>
    The data needs list includes attributes for the source of the data, the status of data development, the point of contact 
    for the data, the expected date by which the data will be uploaded to the portal, and already known information about the 
    data. In some cases, the data and information exist or are currently under development, but significant additional effort 
    (e.g. permissions, analysis and formatting) will be required to acquire and prepare the data for use within the regional 
    planning portal. In other cases, the data likely do not currently exist and additional survey and analysis efforts will be 
    needed. As ocean planning moves forward, we expect that additional data needs will be identified (e.g., for socio-economic 
    data) and this list will be updated accordingly.
</p>

<div class="row-fluid search-row">
    <div class="span12 ">
        <h3>Data Layer Search</h3>
        <form class="form-search">
            <div class="span10">
                <input type="text" class="search-box span12" data-provide="typeahead" data-bind="value: searchTerm, event: { keyup: keySearch }">
            </div>
            <div class="span2">
                <button type="submit" class="btn">
                    find
                </button>
            </div>
        </form>
    </div>
</div>


<div class="accordion">
  {% for theme in themes %}
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{theme.name}}">
          <h3>{{ theme.display_name }}</h3>
        </a>
      </div>
      <div id="{{theme.name}}" class="accordion-body collapse" style="height: 0px; ">
        <div class="accordion-inner">
          
            <ul class="unstyled">
                {% for key, needs in theme_dict.items %}
                    {% if key == theme %}
                        {% for need in needs %}
                            <li><div class="data-need">
                                <div>
                                    <h4>
                                        {{ need.name }}
                                    </h4>
                                    <p> 
                                        {{ need.description }}
                                    </p>
                                    <div class="well">
                                        <div><strong>Source: </strong>{{ need.source }}</div>
                                        <div><strong>Status: </strong>{{ need.status }}</div>
                                        <div><strong>Contact: </strong>
                                            {% if need.contact_email %}
                                                <a href="mailto:{{need.contact_email}}">{{ need.contact }}</a>
                                            {% else %}
                                                {{ need.contact }}
                                            {% endif %}
                                        </div>
                                        <div><strong>Expected Date of Upload to Portal: </strong>{{ need.expected_date }}</div>
                                        <div><strong>Notes: </strong>{{ need.notes }}</div>
                                    </div>
                                </div>
                            </div></li>
                        {% endfor needs%}
                    {% endif %}
                {% endfor items%}
            </ul>
          
        </div>
      </div>
    </div>
  {% endfor themes %}
</div>

{% endblock %}

{% block javascript %}
<script>
    $(document).ready( function() {
        var layers = [],
            layer_index = {};
        $('.data-need').each( function(index, need) {
            var data_name = $.trim($(need).find('h4').text());     
            layers.push(data_name);
            layer_index[data_name] = { 
                layer: $(need)
            };
        });
        $('.search-box').typeahead( {
            source: layers.sort()
        });
        $('.form-search').submit( function(event) {
            var layer = layer_index[$(this).find('input').val()];
            event.preventDefault();
            //$(layer.layer.closest('.accordion-body')).addClass('in');
            $(layer.layer.closest('.accordion-body')).collapse('show');
            layer.layer.find('h4').effect("pulsate", {times:2 }, 500);
            setTimeout(function() {$(window).scrollTop(layer.layer.find('h4').offset().top-100)}, 200);
            //$('html, body').animate( { setTimeout(function() {$(window).scrollTop(layer.layer.find('h4').offset().top)}, 200) }, 'slow');
        });
        
    });
</script>
{% endblock %}