{% extends 'explore_base.html' %} 
{% block main %}
{% load flatblock_tags %}

<h2>Spatial Data Needs and Updates</h2>
<p>
	This is a list of data priorities
</p>
<ul class="unstyled">
	{% for layer in layers %}
	<li><div class="theme">
		<div>
			<h3>
			    {{ layer.name }}
			</h3>
			<p> 
				{{ layer.description }}
			</p>
			<div class="well">
				<dl>
					<dt>Source</dt>
                        <dd>{{ layer.source }}</dd>
					<dt>Status</dt>
                        <dd>{{ layer.status }}</dd>
					<dt>Contact</dt>
                        <dd>
                            {% if layer.contact_email %}
                                <a href="mailto:{{layer.contact_email}}">{{ layer.contact }}</a>
                            {% else %}
                                {{ layer.contact }}
                            {% endif %}
                        </dd>
					<dt>Expected Date of Upload to Portal</dt>
                        <dd>{{ layer.expected_date }}</dd>
					<dt>Notes</dt>
					<dd>{{ layer.notes }}</dd>
				</dl>
			</div>
		</div>
	</div></li>
	{% endfor themes%}
</ul>
<!-- endforeach theme -->

{% endblock %}
