*.pyc
marco/settings_local.py
logs/*
mediaroot/*
deploy/*
data/*
env/*
printing/shots/*
.vagrant
portal/*.sql
/marco-media
/marco.log
/grassdata
/marco/clipping/fixtures/clipping_layers.json
/docs/mockups/archive
/docs/mockups/assets
/docs/mockups/SDC_WireFrames_updated.pdf
/docs/mockups
/marco/reports/fixtures/artificialreefs.json
/marco/reports/fixtures/awchubs.json
/marco/reports/fixtures/bathymetry.json
/marco/reports/fixtures/benthicsediment.json
/marco/reports/fixtures/coastalslr.json
/marco/reports/fixtures/ocsblocks.json
/marco/reports/fixtures/seabedform.json
/marco/reports/fixtures/trafficseparationzones.json
/marco/reports/fixtures/waterbirdsurveys.json
/marco/reports/fixtures/windenergyareas.json
/marco/reports/fixtures/windspeed.json
portal/wordpress/.htaccess
portal/wordpress/wp-config.php
printing/shots/*
