*.pyc
marco/settings_local.py
logs/*
mediaroot/*
deploy/*
data/*
env/*
printing/shots/*
.vagrant
portal/*.sql
/marco-media
/marco.log
/grassdata
/marco/clipping/fixtures/clipping_layers.json
/docs/mockups/archive
/docs/mockups/assets
/docs/mockups/SDC_WireFrames_updated.pdf
/docs/mockups
/marco/reports/fixtures/artificialreefs.json
/marco/reports/fixtures/awchubs.json
/marco/reports/fixtures/bathymetry.json
/marco/reports/fixtures/benthicsediment.json
/marco/reports/fixtures/coastalslr.json
/marco/reports/fixtures/ocsblocks.json
/marco/reports/fixtures/seabedform.json
/marco/reports/fixtures/trafficseparationzones.json
/marco/reports/fixtures/waterbirdsurveys.json
/marco/reports/fixtures/windenergyareas.json
/marco/reports/fixtures/windspeed.json
portal/wordpress/.htaccess
portal/wordpress/wp-config.php
printing/shots/*

/media/data_manager/utfgrid
portal/.DS_Store

media/.DS_Store

.DS_Store

marco/data_manager/fixtures/datadump-2013-08-31.json

marco/data_manager/fixtures/datadump-2013-09-03.json

marco/scenarios/fixtures/OCSBlocks20130319.json

marco/scenarios/fixtures/scenarios_dump_2013_09_04.json

media/data_manager/geojson/OCSBlocks20130319.json

marco/data_manager/fixtures/datadump-2013-09-04.json

marco/data_manager/fixtures/initial_data.json

media/data_manager/geojson/Corals.json

marco/data_manager/fixtures/initial_data_orig.json

marco/data_manager/fixtures/datadump-2013-09-16.json

marco/scenarios/fixtures/OCSBlocks20130919.json

marco/scenarios/fixtures/OCSBlocks20130920.json

media/data_manager/geojson/OCSBlocks20130919.json

media/data_manager/geojson/OCSBlocks20130920.json

marco/scenarios/fixtures/leaseblock_dump_20130919.json

marco/data_manager/fixtures/data_manager_fixture_prev.json

marco/data_manager/fixtures/datadump-2013-09-20.json

marco/data_manager/fixtures/datadump-2013-09-20b.json

media/marco/assets/openlayers/build/*

media/marco/assets/openlayers/lib/*

media/marco/assets/openlayers/tools/*

media/marco/assets/openlayers/v2.13.1/*

media/marco/assets/openlayers/OpenLayers-marco-build_orig.js

media/marco/assets/openlayers/OpenLayers-marco-min_orig.js

marco/data_manager/fixtures/data_manager_fixture_prev_prev.json

marco/data_manager/fixtures/datadump-2013-10-09.json

media/marco/assets/openlayers/OpenLayers-marco-build-213.js
