*.pyc
marco/settings_local.py
logs/*
mediaroot/*
deploy/*
data/*
env/*

/marco-media
/marco.log
/grassdata
/marco/clipping/fixtures/clipping_layers.json
/docs/mockups/archive
/docs/mockups/assets
/docs/mockups/SDC_WireFrames_updated.pdf
/docs/mockups