{% extends 'comments_base.html' %} 

{% block main %}

<div id="topic-page" class="row-fluid">
	<div class="span12">
        <h3>Interactive Mapper for MAFMC Amendment 16 Options</h3>
		<div style="width: 90%; margin-bottom: 30px;">
            The Mid-Atlantic Fishery Management Council is working with stakeholders to identify spatial alternatives for protecting Coldwater Corals.
            We are collecting comments on the following Coldwater Coral Protection Alternatives.  
        </div>
        
        <div id="map-view-pane" class="row-fluid">
            <div id="map-view" class="span12">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="map1">
                        <div>
                            <!--<iframe class="map-view-iframe" src="http://dev.marco.marineplanning.org/embed/mafmc/#x=-73.68&y=39.30&z=7&logo=true&dls%5B%5D=true&dls%5B%5D=0&dls%5B%5D=107&basemap=Nautical+Charts&tab=&legends=false&layers=true" width="800" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
                            <iframe class="map-view-iframe" src="{{domain}}/embed/mafmc/#x=-73.68&y=39.30&z=7&logo=true&dls%5B%5D=true&dls%5B%5D=0&dls%5B%5D=107&basemap=Nautical+Charts&tab=&legends=false&layers=true" width="800" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="span6">
                            <form style="margin-top: 15px">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea placeholder="Enter your comments here..." rows="5" style="width: 430px"></textarea>
                                <div>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        
	</div>
</div>

<style type="text/css">
body {
    margin-top: 10px;
}
#map-view-pane {
    margin: 20px 0px;
}
#map-view .tab-content {
    overflow-y: hidden;
}
</style>

{% endblock %}

{% block javascript %}
{% endblock %}