{% extends 'comments_base.html' %} 

{% block main %}

<div id="topic-page" class="row-fluid">
	<div class="span12">
        <h3>MAFMC Comments Page</h3>
		<div style="width: 90%; margin-bottom: 30px;">
            The Mid-Atlantic Fishery Management Council is working with stakeholders to identify spatial alternatives for protecting Coldwater Corals.
            We are collecting comments on the following Coldwater Coral Protection Alternatives.  
        </div>
        
        <div id="map-view-pane" class="row-fluid">
            <div id="map-view" class="span10">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#map1" data-toggle="tab">Alternative #1</a></li>
                    <li class=""><a href="#map2" data-toggle="tab">Alternative #2</a></li>
                    <li class=""><a href="#map3" data-toggle="tab">Alternative #3</a></li>
                    <li class=""><a href="#map4" data-toggle="tab">Alternative #4</a></li>
                    <li class=""><a href="#map5" data-toggle="tab">Alternative #5</a></li>
                </ul>
                <div class="tab-content">
                    <div class="row-fluid tab-pane fade active in" id="map1">
                        <div class="span7">
                            <iframe class="map-view-iframe" src='http://localhost:8000/embed/map/#x=-74.62&y=37.07&z=11&logo=true&dls%5B%5D=true&dls%5B%5D=1&dls%5B%5D=58&dls%5B%5D=true&dls%5B%5D=0.32&dls%5B%5D=12&dls%5B%5D=true&dls%5B%5D=0.5&dls%5B%5D=95&basemap=ESRI+Ocean&themes%5Bids%5D%5B%5D=4&tab=active&legends=true&layers=true' width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                        <div class="span5">
                            Coldwater Coral Protection Alternative #1
                            <form style="margin-top: 155px">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea placeholder="Enter your comments here..." rows="5"></textarea>
                                <div>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid tab-pane fade" id="map2">
                        <div class="span7">
                            <iframe class="map-view-iframe" src='http://dev.marco.marineplanning.org/embed/map/#x=-73.81&y=38.13&z=11&logo=true&dls%5B%5D=true&dls%5B%5D=1&dls%5B%5D=58&dls%5B%5D=true&dls%5B%5D=0.32&dls%5B%5D=12&dls%5B%5D=true&dls%5B%5D=0.5&dls%5B%5D=95&basemap=ESRI+Ocean&themes%5Bids%5D%5B%5D=4&tab=active&legends=true&layers=true' width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                        <div class="span5">
                            Coldwater Coral Protection Alternative #2
                            <form style="margin-top: 155px">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea placeholder="Enter your comments here..." rows="5"></textarea>
                                <div>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid tab-pane fade" id="map3">
                        <div class="span7">
                            <iframe class="map-view-iframe" src='http://dev.marco.marineplanning.org/embed/map/#x=-70.51&y=39.93&z=10&logo=true&dls%5B%5D=true&dls%5B%5D=1&dls%5B%5D=58&dls%5B%5D=true&dls%5B%5D=0.32&dls%5B%5D=12&dls%5B%5D=true&dls%5B%5D=0.5&dls%5B%5D=95&basemap=ESRI+Ocean&themes%5Bids%5D%5B%5D=4&tab=active&legends=true&layers=true' width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                        <div class="span5">
                            Coldwater Coral Protection Alternative #3
                            <form style="margin-top: 155px">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea placeholder="Enter your comments here..." rows="5"></textarea>
                                <div>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid tab-pane fade" id="map4">
                        <div class="span7">
                            <iframe class="map-view-iframe" src='http://dev.marco.marineplanning.org/embed/map/#x=-68.11&y=40.30&z=10&logo=true&dls%5B%5D=true&dls%5B%5D=1&dls%5B%5D=58&dls%5B%5D=true&dls%5B%5D=0.32&dls%5B%5D=12&dls%5B%5D=true&dls%5B%5D=0.5&dls%5B%5D=95&basemap=ESRI+Ocean&themes%5Bids%5D%5B%5D=4&tab=active&legends=true&layers=true' width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                        <div class="span5">
                            Coldwater Coral Protection Alternative #4
                            <form style="margin-top: 155px">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea placeholder="Enter your comments here..." rows="5"></textarea>
                                <div>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid tab-pane fade" id="map5">
                        <div class="span7">
                            <iframe class="map-view-iframe" src='http://dev.marco.marineplanning.org/embed/map/#x=-67.67&y=40.39&z=11&logo=true&dls%5B%5D=true&dls%5B%5D=1&dls%5B%5D=58&dls%5B%5D=true&dls%5B%5D=0.32&dls%5B%5D=12&dls%5B%5D=true&dls%5B%5D=0.5&dls%5B%5D=95&basemap=ESRI+Ocean&themes%5Bids%5D%5B%5D=4&tab=active&legends=true&layers=true' width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                        <div class="span5">
                            Coldwater Coral Protection Alternative #5
                            <form style="margin-top: 155px">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea placeholder="Enter your comments here..." rows="5"></textarea>
                                <div>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        
	</div>
</div>

<style type="text/css">
#map-view-pane {
    margin: 20px 0px;
}
#map-view {
    height: 400px;
}
#map-view .tab-content {
    overflow-y: hidden;
}
</style>

{% endblock %}

{% block javascript %}
{% endblock %}