{% extends 'explore_base.html' %} 
{% block main %}
<div class="row-fluid">
	<div class="span12">
		<div class="theme image">
			{% if theme.header_image %}
				<img src="{{theme.header_image}}"/>
			{% else %}
				<img src="http://placehold.it/1250x350">
			{% endif %}
			<div class="caption">
				{{ theme.name }}
			</div>
		</div>
		<br/>
		<p>{{ theme.overview }}
		{% for layer in theme.layers %}
			{% if layer.layer_type != "placeholder"  %}
				<a name={{layer.slug}}></a>
				<h3>
			    	{{ layer.name }}	
			    </h3>
			    <p class="pull-right">
			    	<a class="btn" href="/explore/catalog#{{ layer.slug }}" rel="tooltip" data-placement="bottom" data-original-title="Explore the data in the catalog."><img src="{{MEDIA_URL}}marco/ico/explore.png"/></a>
			    	<a class="btn" href="{{ layer.bookmark }}" rel="tooltip" data-placement="bottom" data-original-title="Visualize the data in the planner." target="_blank"><img src="{{MEDIA_URL}}marco/ico/visualize.png"/></a>
			    </p>
		        {% if layer.data_overview %}
			    	<p>{{ layer.data_overview }}</p>
		    	{% endif %}
		    	{% if layer.data_source %}
		    		<strong>source:</strong>
					<p>{{ layer.data_source }}</p>
				{% endif %}
				{% if layer.data_notes %}
					<strong>notes:</strong>
					<p>{{ layer.data_notes }}</p>
				{% endif %}
				<br/>
			{% endif %}
		{% endfor %}
	</div>
</div>
<!-- endforeach theme -->

{% endblock %}

{% block sidebar %}
	<div class="row-fluid feature-story">
	    <div class="span12">
	        {% if theme.feature_image %}
	            <img src="{{theme.feature_image}}">
	        {% endif %}
	        {% if theme.feature_excerpt %}
	            <p>{{ theme.feature_excerpt }}</p>                      
	        {% endif %}
	        {% if theme.feature_link %}
	        <div>
	            <a href="" class="pull-right"><em>read more...</em></a>
	        </div>
	        {% endif %}
	    </div>
	</div>
	<div class="row-fluid">
		<div class="span12 frame">
			<img src="/media/marco/img/themes/sheets/{{theme.name}}.png"/>
		</div>
	</div>
{% endblock sidebar %}


{% block javascript %}
<script>
$(document).ready(function () {
	$('[rel=tooltip]').tooltip();
});
</script>
{% endblock %}