{% extends 'explore_base.html' %} 
{% block main %}
<div class="row-fluid">
	<div class="span12">
		<div class="theme image">
			{% if theme.header_image %}
				<img src="{{theme.header_image}}"/>
			{% else %}
				<img src="http://placehold.it/1250x350">
			{% endif %}
			<div class="caption">
				{{ theme.display_name }}
			</div>
			{% if theme.header_attrib %}
			<div class="attrib">
				<i class="icon-map-marker icon-white"></i>
				<p class="text">{{ theme.header_attrib }}</p>
			</div>
			{% endif %}
		</div>
		<br/>
		<p>{{ theme.overview|safe }}</p>
		{% for layer in theme.layers %}
            {% if layer.is_parent %}
            {% else %}
			{% if layer.layer_type != "placeholder"  %}
                <a class="anchor-tag" name={{layer.slug}} style="position:relative; display: block; top:-100px;">&nbsp;</a>
                <div class="clearfix layer">
                    <h4>
                        {{ layer.name }}	
                    </h4>
                    <div class="row-fluid overview">
                        <div class="span10">
                        {% if layer.data_overview_text %}
                            <p>{{ layer.data_overview_text }}</p>
                        {% endif %}
                        </div>
                        <div class="span2">
                            <a class="btn pull-right" href="/explore/catalog#{{ layer.slug }}" rel="tooltip" data-placement="bottom" data-original-title="Explore the data in the catalog."><img src="{{MEDIA_URL}}marco/ico/explore.png"/></a>
                            <a class="btn pull-right" href="{{ layer.bookmark }}" rel="tooltip" data-placement="bottom" data-original-title="Visualize the data in the planner."><img src="{{MEDIA_URL}}marco/ico/visualize.png"/></a>
                        </div>
                    </div>
                    {% if layer.data_source_text or layer.data_notes_text %}
                    <div class="well">
                        {% if layer.data_source_text %}
                        <div><strong>Source: </strong>{{ layer.data_source_text }}</div>
                        {% endif %}
                        {% if layer.data_notes_text %}
                        <div><strong>Notes: </strong>{{ layer.data_notes_text|safe }}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
			<br/>
			{% endif %}
            {% endif %}
		{% endfor %}
	</div>
</div>
<!-- endforeach theme -->

{% endblock %}
{% block sidebar %}
	<div class="row-fluid feature-story">
	    <div class="span12">
	        {% if theme.feature_image %}
	            <img src="{{theme.feature_image}}">
	        {% endif %}
	        {% if theme.feature_excerpt %}
	            <p>{{ theme.feature_excerpt }}</p>                      
	        {% endif %}
	        {% if theme.feature_link %}
	        <div>
	            <a href="" class="pull-right"><em>read more...</em></a>
	        </div>
	        {% endif %}
	    </div>
	</div>
	<div class="row-fluid">
		{% if theme.factsheet_thumb  %}
		<div class="span12 factsheet" >
			{% if theme.factsheet_link  %}
				<a href="{{ theme.factsheet_link }}"><img src="{{ theme.factsheet_thumb }}"/>
				<p class="pull-right">
					<a href="{{ theme.factsheet_link }}">download pdf...</a>
				</p>
			{% else %}
				<img src="{{ theme.factsheet_thumb }}"/>
			{% endif %}
		</div>
		{% endif %}
	</div>
{% endblock sidebar %}


{% block javascript %}
<script>
$(document).ready(function () {
	$('[rel=tooltip]').tooltip();
});
</script>
{% endblock %}