{% load i18n %}{% autoescape off %}
{% load url from future %}
{% trans "You're receiving this e-mail because you requested a password reset" %}
{% blocktrans %}for your MARCO Marine Planner user account{% endblocktrans %}.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'marco_password_reset_confirm' uidb36=uid token=token as reseturl %}{% if not reseturl %}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}{% else %}{{reseturl}}{% endif %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Thanks for using the MARCO Marine Planner!" %}

{% blocktrans %}-The MARCO Marine Planner Technical Team{% endblocktrans %}

{% endautoescape %}
