body {
	margin-top: 110px;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: #2d8998;
	line-height: 1;
}

h2 {
	font-size: 28px;
	margin-bottom: 10px;

}

header h2 {
	margin-bottom: 5px;
}
hr {
	border-top: 1px solid #ccc;
}

.navbar {
	border-bottom: 1px solid #ccc;
	height: 90px;
        background-color: white;
}
.navbar .navbar-inner {
	background-color: white !important;
	background-image: none !important;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	filter: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.navbar .nav > li a {
	text-transform: uppercase;
	width: 80px;
	height: 44px;
	text-align: center;
	background-color: white;
	padding-top: 35px;
	font-size: 12px;
	border-left: 1px solid #ccc;
}
.navbar .nav > li:hover a, .navbar .nav > li.active a, .navbar .nav > li:hover a:visited {
	height: 41px;
	background-color: #eee !important;
	color: #333;
	border-bottom: 4px solid #2d8998;
	margin-bottom: -4px;

}
.navbar .nav > li:hover > a , .navbar .nav > li.active > a {
	background-color: #eee !important;
	color: #333;
}
.navbar .nav > li:last-child {
	border-right: 1px solid #ccc;

}
	.navbar .nav > li > a {
		line-height: 12px;
		color: #333;
	}	
.navbar form {
	margin-top: 26px;
}

.navbar img {
	margin-top: 5px;
	margin-left: 0px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: white;
	color: #ccc;
}

.navbar .pull-right {
    *position: absolute;
}

.form-search .btn {
	font-size: 9px;
	text-transform: uppercase;
	background-color: #2d8998;
	background-image: none;
	color: white;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: -7px;
	border-radius: 30px;
	 -moz-border-radius: 30px;
  	-webkit-border-radius: 30px;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
  	-moz-border-top-left-radius: 0px;
  	-moz-border-bottom-left-radius: 0px;
  	-webkit-border-top-left-radius: 0px;
  	-webkit-border-bottom-left-radius: 0px;

}

.form-search input {
	width: 60%;
	background-color: #eee;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;

}
input + i.icon-remove-sign {
	margin-left: -20px;
	padding-right: 5px;
	margin-top: 4px;
	opacity: .5;
	filter: alpha(opacity=50);
}
.showcase {
	position: relative;
	height: auto;
}
.showcase img {
	margin-left: 0px;
	margin-bottom: 10px;
}
.showcase .caption {
	background-color: rgb(45, 137,152);
	/* RGBa with 0.6 opacity */
	background-color: rgba(45, 137, 152, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2d899800, endColorstr=#2d899800);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
	position: absolute;
	width: 260px;
	font-size: 20px;
	line-height: 1;
	color: white;
	top: 175px;
	left: 0;
	padding: 10px 15px 3px 30px;
}
.showcase h2 {
	color: white;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 5px;
	font-weight: normal;
}
.showcase p {
	font-size: 14px;

}
.showcase a {
	color: white;
}
.showcase .attrib {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior: url(/portal/assets/PIE.htc);

	border-radius: 5px;
	color: white;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px;
	background-color: rgb(45, 137,152);
	/* RGBa with 0.6 opacity */
	background-color: rgba(45, 137, 152, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2d899800, endColorstr=#2d899800);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.showcase .attrib .text {
	behavior: url(/portal/assets/PIE.htc);

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display:none;
	position: absolute;
	padding: 10px;
	width: 175px;
	background-color: rgb(45, 137,152);
	/* RGBa with 0.6 opacity */
	background-color: rgba(45, 137, 152, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2d899800, endColorstr=#2d899800);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";	
}
.bugs {
	margin-top: 10px;
	text-align: center;

}
.bugs h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	color: #2d8998;
}
.bugs p {
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	line-height: 1.25;
	width: 80%;
}
.bugs .wrapper {
	padding: 40px 0px;
	border: 1px solid #ccc;
	margin: -1px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/portal/assets/PIE.htc);

}
.bugs .wrapper:hover,
.bugs .wrapper:hover h3 {
	background-color: #2d8998;
	color: white;
}

.bugs a:link, .bugs a:visited, .bugs a:hover  {
	color: #333;
	text-decoration: none;
}


.wrapper .icon {
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper #learn-img {
    background-image: url('../img/learn.png');
}
.wrapper #explore-img {
    background-image: url('../img/explore.png');
}
.wrapper #visualize-img {
    background-image: url('../img/visualize.png');
}

.wrapper:hover #learn-img {
    background-image: url('../img/learn_rollover.png');

}

.wrapper:hover #explore-img {
    background-image: url('../img/explore_rollover.png');

}
.wrapper:hover #visualize-img {
    background-image: url('../img/visualize_rollover.png');

}

.social h5 {
	font-weight: normal;
	text-transform: uppercase;
}

#sidebar-nav {
	position: fixed;
	top: 100px;
	margin-top: 0px;
	width: 186px;
}

.sidebar ul {
	list-style: none;
	margin-left: 0;
}

.sidebar h3 a, .sidebar h3 a:visited {
	color: #2d8998;
}
.sidebar a {
	color: #333;

}
.sidebar li a {
	margin-left: 5px;
}
.sidebar h3 {
	margin-bottom: 0px;
	font-size: 18px;
	padding: 5px;
	line-height: 1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	behavior: url(/portal/assets/PIE.htc);


}
.sidebar .active {
	border-left: 2px solid #2d8998;
	pointer-events: none;
   	cursor: default;

}
.sidebar h3.active  {
	padding-left: 2px;
}
img + h3 {
	margin-top: 10px;
}

.post_content img.size-full {
	margin-bottom: 20px;
	 border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(/portal/assets/PIE.htc);

}
.carousel {
	clear: both;
}
.carousel-control {
	display: none;
}
.carousel img {
	 border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(/portal/assets/PIE.htc);

}

.carousel .item {
	-webkit-transition: opacity 1.5s ease-in-out; 
	-moz-transition: opacity 1.5s ease-in-out; 
	-ms-transition: opacity 1.5s ease-in-out; 
	-o-transition: opacity 1.5s ease-in-out; 
	transition: opacity 1.5s ease-in-out;
}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

#visualize-content {
    height: 299px;
}

#visualize-carousel-inner {
    overflow: visible;
}

.learn-page {
	margin-top: 20px;
}

img {
 	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	behavior: url(/portal/assets/PIE.htc);

}
 .image {
	position: relative;
}
.image .caption {
	position: absolute;
	text-transform: uppercase;
	width: 90%;
	font-size: 36px;
	font-weight: bold;
	line-height: .75;
	color: white;
	bottom: -3px;
	left: 20px;
	opacity: .6;


}

.learn-page .image:hover .caption {

    opacity: 1;
  	
}


.learn-page h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.theme.image .caption {
	bottom: 17px;
	font-size: 56px;
	opacity: .8;
	word-spacing: 1;
}

.explore.image .caption {
	bottom: -2px;
	font-size: 56px;
	opacity: .8;
	word-spacing: 1;
}

.btn-icon {
	margin-top: 5px;
	font-size: 18px;
}

.popover-inner {
	width: 300px;
}

#feedback-tab {
	position: fixed;
	left: -26px;
	top: 80%;
	padding: 2px 8px;
	border: 2px solid #ccc;
	background: #2d8998; /* fallback for IE - IE6 requires background shorthand*/
	background: rgba(45,137,152, 1);

	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-transform: rotate(90deg);	
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);

	-ms-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	behavior: url(/portal/assets/PIE.htc);



}
#feedback-tab a {
	border: 1px solid white;

}
#feedback-tab a:hover {
	border: 1px solid #ccc;
}



@media (max-width: 767px) {
	.nav-collapse form {
		width: 100%;
	}
	.nav-collapse form input {
		width: auto;
		margin-left: 10px;
	}
	body {
		margin-top: 0px;
	}
	#sidebar-nav {
		position: relative;
		top: 0px;
	}
	.nav-collapse {
		width: 100%;
	}
	.nav-collapse .nav {
		float: left;
	}
	.nav-collapse .nav > li {
		float: left;
	}
	.showcase .caption {
		position: static;
		border-radius: 10px;
		padding-top: 1px;
		padding-left: 10px;
		width: auto;
		height: auto;
		padding-bottom: 10px;
		margin-top: 10px;
		behavior: url(/portal/assets/PIE.htc);


	}
	.showcase .caption p {
		font-size: 12px;
		margin-top: -5px;
	}
	.showcase .caption h2{
		font-size: 14px;
	}
	.showcase img, .post_content img.size-full {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}


	h3 {
		font-size: 18px;
	}
	.bugs {
		margin-top: 0px
	}
	.theme.image .caption {
		font-size: 28px;
		bottom: 0px;
	}


}


@media (min-width: 768px) and (max-width: 979px) {
	body {
		margin-top: 0px;
	}
	#sidebar-nav {
		position: relative;
		top: 0px;
	}
	.nav-collapse {
		width: 100%;
		margin-bottom: 5px;
	}

	.nav-collapse .nav {
		float: left;
	}
	.nav-collapse .nav > li {
		float: left;
	}
	.showcase {
		margin-top: 5px;
	}
	.showcase .caption {
		top: 100px;
	}

}

@media (max-width: 359px) {
	.navbar img {
		width: 80%;
	}
	.nav-collapse .nav > li {
		width: 98px;
	}
	.navbar .nav > li a {
		width: auto;
	}
}