
table.analysis_container {
    font-size: small;
    width: 450px;
    background: #ffffff;
    padding: 0px;
    border-spacing: 0px;
    border-width: 0px;
    border-color: lightgray;
    margin-left: 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
table.analysis_container td, th {
    text-align: center;
    border-width: 0px;
    border-style: solid;
    border-color: gray;
    padding: 2px;
}
table.analysis_container th {
    text-align: center;
    font-weight: bold;
    background: #FAFAFA url(http://closure-library.googlecode.com/svn/trunk/closure/goog/demos/css/../images/toolbar-bg.png) repeat-x scroll left bottom;
}
table.analysis_container tr.grey {
    background: #ececec;
}