#feedback-tab {
	left: 0px;
}
#help-tab {
	right: 0px;
}

#data-accordion i.icon-info-sign {
	margin-left: 0px;
}
#data-accordion .btn-info-sign {
	width: 15px;
}

.learn-page .image:hover .caption span {

	color: white!important;
}


.theme.image .caption span {
	color: #333 !important;
}