h1, h2, h3, h4 {
	font-weight: normal;
	color: #2d8998;
}

h2 {
	font-size: 28px;
	margin-bottom: 10px;

}

header h2 {
	margin-bottom: 5px;
}
hr {
	border-top: 1px solid #ccc;
}
.navbar {
	border-bottom: 1px solid #ccc;
	height: 90px;
}
.navbar-inner {
	background-color: white !important;
	background-image: none !important;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.navbar .nav > li a {
	text-transform: uppercase;
	width: 80px;
	height: 44px;
	text-align: center;
	background-color: white;
	padding-top: 35px;
	font-size: 12px;
	border-left: 1px solid #ccc;
}
.navbar .nav > li:hover a, .navbar .nav > li.active a, .navbar .nav > li:hover a:visited {
	height: 41px;
	background-color: #eee !important;
	color: #333;
	border-bottom: 4px solid #2d8998;
	margin-bottom: -4px;

}
.navbar .nav > li:hover > a , .navbar .nav > li.active > a {
	background-color: #eee !important;
	color: #333;
}
.navbar .nav > li:last-child {
	border-right: 1px solid #ccc;

}
	.navbar .nav > li > a {
		line-height: 12px;
		color: #333;
	}	
.navbar form {
	margin-top: 26px;
}

.navbar img {
	margin-top: 5px;
	margin-left: 0px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: white;
	color: #ccc;

}

.frame {
	border: 1px solid #ccc;
}

.form-search .btn {
	font-size: 9px;
	text-transform: uppercase;
	background-color: #2d8998;
	background-image: none;
	color: white;
	margin-top: 6px;
	margin-right: 0px;
	margin-left: -5px;
	border-radius: 30px;
	 -moz-border-radius: 30px;
  	-webkit-border-radius: 30px;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
  	-moz-border-top-left-radius: 0px;
  	-moz-border-bottom-left-radius: 0px;
  	-webkit-border-top-left-radius: 0px;
  	-webkit-border-bottom-left-radius: 0px;
}

.form-search input {
	background-color: #eee;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

#data .form-search {
	padding: 0px 0px 20px 10px;
	margin-left: 20px;
	margin-top: -5px;
}

#data .form-search .btn {
	margin-left: -14px;
	margin-top: 0px;
}

.showcase {
	position: relative;
}
.showcase img {
	margin-left: 0px;
	margin-bottom: 10px;
}
.showcase .caption {
	background-color: rgb(45, 137,152);
	/* RGBa with 0.6 opacity */
	background-color: rgba(45, 137, 152, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=##2d899800, endColorstr=#2d899800);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	
	position: absolute;
	width: 260px;
	font-size: 20px;
	line-height: 1;
	color: white;
	top: 250px;
	left: 0;
	padding: 10px 15px 3px 30px;
}
.showcase h2 {
	color: white;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 5px;
	font-weight: normal;
}
.showcase p {
	font-size: 14px;

}
.showcase a {
	color: white;
}
.bugs {
	margin-top: 10px;
	text-align: center;

}
.bugs h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	color: #2d8998;
}
.bugs p {
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	line-height: 1.25;
	width: 80%;
}
.bugs .wrapper {
	padding: 40px 0px;
	border: 1px solid #ccc;
	margin: -1px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.bugs .wrapper:hover,
.bugs .wrapper:hover h3 {
	background-color: #2d8998;
	color: white;
}

.bugs a:link, .bugs a:visited, .bugs a:hover  {
	color: #333;
	text-decoration: none;
}


.wrapper .icon {
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper #learn-img {
    background-image: url('../img/learn.png');
}
.wrapper #explore-img {
    background-image: url('../img/explore.png');
}
.wrapper #visualize-img {
    background-image: url('../img/visualize.png');
}

.wrapper:hover #learn-img {
    background-image: url('../img/learn_rollover.png');

}

.wrapper:hover #explore-img {
    background-image: url('../img/explore_rollover.png');

}
.wrapper:hover #visualize-img {
    background-image: url('../img/visualize_rollover.png');

}

.social h5 {
	font-weight: normal;
	text-transform: uppercase;
}

.sidebar {
	margin-top: 15px;
}

.sidebar ul {
	list-style: none;
	margin-left: 0;
}
.sidebar h3 {
	font-size: 18px;
}
.sidebar h3 a, .sidebar h3 a:visited {
	color: #2d8998;
}
.sidebar a {
	color: #333;

}

.sidebar-nav .nav-tabs a {
	border-radius: 0px;
	margin-top: -10px;
	text-transform: uppercase;
	font-size: 14px;
	color: #333;
	border-right: 1px solid #ccc;
	margin-bottom: 0px;
	margin-left: -2px;

	font-size: 16px;
}
.sidebar-nav .nav-tabs li.active a, .sidebar-nav .nav-tabs li:hover a {
	border-bottom: 2px solid #2d8998;
	background-color: #eee;
	color: #333;

}	

.sidebar-nav li a .badge {
	padding-top: 5px;
	margin-top: -2px;
}

img + h3 {
	margin-top: 10px;
}

.sidebar-nav .accordion-group {
	margin-bottom: 0px;
}

.sidebar-nav .accordion-heading {
	text-transform: uppercase;
	font-size: 16px;

}
.sidebar-nav .accordion-heading.active {
	border-left: 3px solid #2d8998;
	margin-left: -1px;
		
	background-color: #eee;
	color: #333;

}
.btn-group-layer {
	width: 100%;
}
.btn.active-layer {
	background-color: blue;
}

#active .btn-group {
	width: 100%;
}