
html {
    overflow-y: scroll;
}
body {
	margin-top: 110px;
}

h1, h2, h3, h4 {
	font-weight: normal;
	color: #2d8998;
	line-height: 1;

}

h2 {
	font-size: 28px;
	margin-bottom: 10px;

}

header h2 {
	margin-bottom: 5px;
}
hr {
	border-top: 1px solid #ccc;
}
p {
	padding-left: 5px;
}
a:focus {
    outline: none;
}
.navbar {
	border-bottom: 1px solid #ccc;
	height: 90px;
        background-color: white;
}
.navbar .navbar-inner {
	border: none !important;
	background-color: white !important;
	background-image: none !important;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
	filter: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.navbar .nav > li a {
	text-transform: uppercase;
	width: 80px;
	height: 44px;
	text-align: center;
	background-color: white;
	padding-top: 35px;
	font-size: 12px;
	border-left: 1px solid #ccc;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
.navbar .nav > li:hover a, .navbar .nav > li.active a, .navbar .nav > li:hover a:visited {
	height: 41px;
	background-color: #eee !important;
	color: #333;
	border-bottom: 4px solid #2d8998;
	margin-bottom: -4px;

}
.navbar .nav > li:hover > a , .navbar .nav > li.active > a {
	background-color: #eee !important;
	color: #333;
}
.navbar .nav > li:last-child {
	border-right: 1px solid #ccc;

}
	.navbar .nav > li > a {
		line-height: 12px;
		color: #333;
	}	
.navbar form {
	margin-top: 26px;
}

.navbar img {
	margin-top: 5px;
	margin-left: 0px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: white;
	color: #ccc;
}


.frame {
	border: 1px solid #ccc;
	border-radius: 10px;
}
.sidebar-nav .nav-tabs li.active:first-child a, .sidebar-nav .nav-tabs li:first-child:hover a {
	border-top-left-radius: 10px;
}
.form-search .btn {
	font-size: 9px;
	text-transform: uppercase;
	background-color: #2d8998;
	background-image: none;
	color: white;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: -7px;
	radius: 30px;
	 border-radius: 30px;
	 -moz-border-radius: 30px;
  	-webkit-border-radius: 30px;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
  	-moz-border-top-left-radius: 0px;
  	-moz-border-bottom-left-radius: 0px;
  	-webkit-border-top-left-radius: 0px;
  	-webkit-border-bottom-left-radius: 0px;
}

.form-search input, .form-search input:focus{
	width: 60%;
	background-color: #eee;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}
.form-search i {
	margin-left: -5px;
}
#feedback-tab {
	position: fixed;
	left: -26px;
	top: 80%;
	padding: 2px 8px;
	border: 2px solid #ccc;
	background: #2d8998; /* fallback for IE - IE6 requires background shorthand*/
	background: rgba(45,137,152, 1);

	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-transform: rotate(90deg);	
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
#feedback-tab a {
	border: 1px solid white;

}
#feedback-tab a:hover {
	border: 1px solid #ccc;
}

input + i.icon-remove-sign {
	margin-left: -24px;
	margin-right: 4px;
	padding-right: 5px;
	margin-top: 4px;
	opacity: .5;
	filter: alpha(opacity=50);
}
#sidebar-nav {
	position: fixed;
	top: 100px;
	width: 186px;


}
.sidebar h3 {
	margin-bottom: 0px;
	font-size: 18px;
	padding: 5px;
	font-weight: bold;
	line-height: 1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;


}
.sidebar .active {
	border-left: 2px solid #2d8998;
	pointer-events: none;
   	cursor: default;

}
.sidebar .active a {
	margin-left: 0px;
	padding-left: 3px;
	font-weight: bold;
}
.sidebar .active h3 {
	padding-left: 2px;
}
.sidebar li a {
	margin-left: 5px;
}
.sidebar .active {
	border-left: 2px solid #2d8998;
}

.sidebar .feature-story {
	margin-top: 20px;
}
.sidebar img {
	width: 100%;
	max-width: 180px;
}
.sidebar .feature-story a{
	color: #2d8998;
}

.sidebar .feature-story p {
	margin-bottom: 0px;
}

#fullscreen {
	background-color: white;
}

#data .form-search {
	padding: 0px 0px 20px 10px;
	margin-left: 20px;
	margin-top: -5px;
}

#data .form-search .btn, .search-row .form-search .btn {
	margin-left: -8px;
	margin-top: 0px;
}

/*.search-row {
	margin: 20px 0px;
}
*/
.showcase {
	position: relative;
}
.showcase img {
	margin-left: 0px;
	margin-bottom: 10px;
}
.showcase .caption {
	background-color: rgb(45, 137,152);
	/* RGBa with 0.6 opacity */
	background-color: rgba(45, 137, 152, 0.65);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2d899800, endColorstr=#2d899800);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	position: absolute;
	width: 260px;
	font-size: 20px;
	line-height: 1;
	color: white;
	top: 250px;
	left: 0;
	padding: 10px 15px 3px 30px;
}
.showcase h2 {
	color: white;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 5px;
	font-weight: normal;
}
.showcase p {
	font-size: 14px;

}
.showcase a {
	color: white;
}


.bugs {
	margin-top: 10px;
	text-align: center;

}
.bugs h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	color: #2d8998;
}
.bugs p {
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	line-height: 1.25;
	width: 80%;
}
.bugs .wrapper {
	padding: 40px 0px;
	border: 1px solid #ccc;
	margin: -1px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.bugs .wrapper:hover,
.bugs .wrapper:hover h3 {
	background-color: #2d8998;
	color: white;
}

.bugs a:link, .bugs a:visited, .bugs a:hover  {
	color: #333;
	text-decoration: none;
}


.wrapper .icon {
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper #learn-img {
    background-image: url('../img/learn.png');
}
.wrapper #explore-img {
    background-image: url('../img/explore.png');
}
.wrapper #visualize-img {
    background-image: url('../img/visualize.png');
}

.wrapper:hover #learn-img {
    background-image: url('../img/learn_rollover.png');

}

.wrapper:hover #explore-img {
    background-image: url('../img/explore_rollover.png');

}
.wrapper:hover #visualize-img {
    background-image: url('../img/visualize_rollover.png');

}

.social h5 {
	font-weight: normal;
	text-transform: uppercase;
}

/*.sidebar {
	margin-top: 15px;
}
*/
.sidebar ul {
	list-style: none;
	margin-left: 0;
}
.sidebar h3 {
	font-size: 18px;
	font-weight: normal;
}
.sidebar h3 a, .sidebar h3 a:visited {
	color: #2d8998;
}
.sidebar a {
	color: #333;

}

.sidebar-nav .nav-tabs a {
	border-radius: 0px;
	margin-top: -10px;
	text-transform: uppercase;
	font-size: 14px;
	color: #333;
	border-right: 1px solid #ccc;
	margin-bottom: 0px;
	margin-left: -2px;

	font-size: 16px;
}
.sidebar-nav .nav-tabs li.active a, 
.sidebar-nav .nav-tabs li:hover a {
	border: 1px solid #ccc;
	border-bottom: 2px solid #2d8998;
	background-color: #eee;
	color: #333;

}	

.sidebar-nav li a .badge {
	padding-top: 5px;
	margin-top: -2px;
}

#sidebar-nav img {
	max-height: 220px;
}

img + h3 {
	margin-top: 10px;
}

.accordion-group {
	margin-bottom: 0px;
}

.accordion-heading {
/*	text-transform: uppercase;
*/	font-size: 16px;

}
.accordion-heading.active, .active .accordion-body {
	border-left: 3px solid #2d8998;
	margin-left: -1px;
	font-weight: bold;
	background-color: #eee;
	color: #333;

}
#data,
#data .tab-content,
#data .row-fluid,
#data .row-fluid .span12,
#data-accordion,
#data-accordion .accordion,
#data-accordion .accordion-heading
#data-accordion .accordion-body,
#data-accordion .accordion-inner {
	position: relative;
}
#data-accordion .collapse {
	display: none;
}

#data-accordion .collapse.in {
	display: block;
}

#data-accordion .btn i, #active .btn i {
	font-size: 13px;
}
#data-accordion .btn-group-layer .btn-layer  {
  width: 80%;
  text-align: left;
  overflow: hidden;
}
#data-accordion .btn-group-layer .btn-layer div {
	width: 96%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: -5px;
}

#active ul {
	padding: 10px;
}

#active ul li {
	margin-bottom: 10px;
}
#active .btn {
	padding-left: 0px;
}
#active .btn:last-child {
	padding-left: 5px;
	padding-right: 5px;
}
#active .btn-group {
	width: 90%;
}
#active .btn-group .btn-layer {
	text-align: left;
	width: 70%;

}


#active .btn-layer > div {
	display: inline-block;
	line-height: 1;
	padding-left: 8px;
	margin-top: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 72%;
	height: inherit;
}

#data-accordion li.layer {
	margin-bottom: 10px;
}

.theme .theme-context {
	margin-bottom: 20px;
}


.theme li {
	display: inline;
	padding-left: 10px;
}

.theme p {
	padding-right: 5px;
}

.layer .overview {
	margin-bottom: 10px;
}

.link-not-available {
	color: #aaa;
}

.image {
	position: relative;
}

.image img {
	border-radius: 5px;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
}

.image .caption {
	position: absolute;
	text-transform: uppercase;
	width: 80%;
	font-size: 36px;
	font-weight: bold;
	line-height: .75;
	color: white;
	bottom: -3px;
	left: 20px;
	opacity: .7;

	filter: alpha(opacity=70);
}

.theme.image .caption {
	font-size: 56px;
}

.theme .btn img {
	height: 18px;
}

.catalog-page {
    padding-bottom: 10px;
    padding-top: 10px;
}

.catalog-page .image:hover .caption {
    opacity: 1;

    filter: alpha(opacity=100);
}

/*.layer-popover .layer-tooltip {
  width: 380px;
}
*/
#legend-wrapper {
	border: 1px solid #ccc;
	border-radius: 10px;
  max-height: 80%;
  overflow-y: auto;
  padding: 0px 10px 20px;
}

#legend-wrapper hr {
	margin: 0px !important;
	/*margin-bottom: 5px;*/
}
/* Rules for the layer switcher */

#map-wrapper {
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #ccc;
}
#map {
	border-radius: 10px;
	overflow: hidden;
}

#basemaps {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1020;
  //background: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 5px;
  font-size: 12px;
}

#basemaps a {
    padding: 1px;
    color: white;
    text-decoration: none;
    overflow: hidden;
    width: 25px;
    line-height: 22px;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    opacity: .8;
    filter: alpha(opacity=80);
    text-align: left;
    padding-left: 10px;
 	-webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;

}
#basemaps span {
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 12px;
	-webkit-transition: opacity .3s ease-in-in-out;
   -moz-transition: opacity .3s ease-in-in-out;
   -o-transition: opacity .3s ease-in-in-out;
   transition: opacity .3s ease-in-out;
   
}

#basemaps:hover a {
    width: 120px;
	
}
#basemaps:hover span {
	opacity: 1;
	filter: alpha(opacity=100);
}

#basemaps a:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}

.SimpleLayerSwitcher {
  position:absolute;
  top:10px;
  right:35px;
  background-color:whiteSmoke;
  border:1px solid #ccc;
  border-radius:4px;
  max-width:150px;
 text-align: left;
 background: #130085; /* fallback for IE - IE6 requires background shorthand*/
 background: rgba(0, 60, 136, 0.5);
 border-radius: 10px;
 display: none;
  overflow: hidden;
}

.SimpleLayerSwitcher a.basey {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  display:block;
  text-decoration:none;
  color:white;
  padding:5px 5px 5px 5px;
  padding-left: 10px;
 
  background: #130085; /* fallback for IE - IE6 requires background shorthand*/
  background: rgba(0, 60, 136, 0.5);
  opacity: .8;
  filter: alpha(opacity=80);

}

.SimpleLayerSwitcher a.basey-on {
	font-weight: bold;
	opacity: 1;
	filter: alpha(opacity=100);
  
}

.SimpleLayerSwitcher a {
  /*border-top:1px solid #eee;*/
}

.SimpleLayerSwitcher a:hover {
	opacity: 1;
/*  color:#000;
  background-color:#eeeeee;
*/}

.SimpleLayerSwitcher a.basey-off {
  display:block;
}

.popover input {
	width: 94%;
}

@media (max-width: 767px) {
	.navbar .nav > li a {
		width: 70px;
	}
	.nav-collapse form {
		width: 100%;
	}
	.nav-collapse form input {
		width: auto;
		margin-left: 10px;
	}
	body {
		margin-top: 0px;
	}
	#sidebar-nav {
		position: relative;
		top: 0px;
	}
	.nav-collapse {
		width: 100%;
	}
	.nav-collapse .nav {
		float: left;
	}
	.nav-collapse .nav > li {
		float: left;
	}
	.showcase {
		margin-top: 10px;
	}
	h3 {
		font-size: 18px !important;
	}
	.theme li {
		padding-left: 0px;
	}
	#data-accordion .btn-group-layer .btn-layer {
	  width: 72%;
	  font-size: 12px;
	}

}


@media (min-width: 768px) and (max-width: 979px) {
	body {
		margin-top: 0px;
	}

	.nav-collapse {
		width: 100%;
		margin-bottom: 5px;
	}

	.nav-collapse .nav {
		float: left;
	}
	.nav-collapse .nav > li {
		float: left;
	}
	.navbar form {
		margin-right: 10px;
	}
	.showcase {
		margin-top: 5px;
	}
	.showcase .caption {
		top: 100px;
	}
	#active .btn-group .btn-layer {
		width: 65%;
		font-size: 12px;
	}
	.form-search input {
		width: 55%;
		margin-left: -18px;
	}
	#data-accordion .btn-group-layer .btn-layer {
	  width: 68%;
	  font-size: 12px;
	}

}

@media (max-width: 359px) {
	.nav-collapse .nav > li {
		width: 88px !important;
	}
	.navbar .nav > li a {
		width: 60px !important;
		font-size: 10px;
	}
	.navbar img {
		width: 80%;
	}
	.nav-collapse .nav > li {
		width: 98px;
	}
	.navbar .nav > li a {
		width: auto;
	}

}
