{% extends "common/panel.html" %}
{% block title %}{{title}}{% endblock %}

{% block panel %}

<script type="text/javascript" charset="utf-8">
    madrona.onShow(function(){
        madrona.setupForm($('#polygon-design-form'));
        var max_step = 2;
        
        var step = 1;
        
        function validate(step) {
            return_value = true;
            if (step == 1) {
                if ( app.viewModel.scenarios.drawingFormModel.isDrawing()) {
                    $('#double-click-instructions').effect("highlight", {}, 1000);
                    return_value = false;
                } else if ( ! app.viewModel.scenarios.drawingFormModel.hasShape() ) {
                    $('#click-to-begin-drawing').effect("highlight", {}, 1000);
                    return_value = false;
                }
            } else if (step == max_step) {
            
            } 
            return return_value;
        }; 

        function wizard(action) {
            if (step == 1 && action == 'next') {
                if (validate(step)) {
                    step += 1;
                    app.viewModel.scenarios.drawingFormModel.completeEdit();
                    $('#id_geometry_orig')[0].value = 'SRID=3857;' + new OpenLayers.Format.WKT().write(app.viewModel.scenarios.drawingFormModel.polygonLayer.features[0]);
                }
            } else if (step > 1 && action == 'prev') {
                step -= 1;
            }
            $('div.step').each(function(index) {
                $(this).hide();
            });
            $('div#step' + step).show();

            if (step == 1) {
                $('#button_prev').hide();
                $('#button_submit').hide();
            } else {
                $('#button_prev').show();
            }

            if (step == max_step) {
                $('#button_next').hide();
                $('.submit_button').show();
            } else {
                $('#button_next').show();
                $('.submit_button').hide();
            }
        };
        
        $('#button_prev').click( function() { wizard('prev'); });
        $('#button_next').click( function() { wizard('next'); });
        step = 1;
        {% if form.errors %}
            step = 2; // form errors exist
        {% endif %}
        wizard();
        
        
        $('#id_name').keypress(function (e) {
            if (e.which === 13) {
                $('#drawing-form .submit_button').click();
                return false;
            } else {
                $('#invalid-name-message').hide();
            }
        });
        /*
        $('#drawing-form .submit_button').click( function() {
            var name = $('#id_name').val();
            if ($.trim(name) !== "") {  
                return true;
            }
            $('#invalid-name-message').show();
            return false;
        });
        */
    });
</script>

{% if form.media %} {{ form.media }} {% endif %}
<h4>
    Drawing 
</h4>

<form id="polygon-design-form" action="{{action}}" method="post"> 
    {% for hidden in form.hidden_fields %}
        <div style="display:none;">
            {{ hidden.errors }}
        </div>
        {{ hidden }}
    {% endfor %}
    <div id="error_bar"></div>

    <div id="step1" class="step" style="padding-bottom: 40px;">
        <p class="step-text"><i>Step 1 of 2 </i>
        <div data-bind="visible: ! showEdit()">
            <p id="click-to-begin-drawing" class="instructions">Click the button below to begin drawing your polygon.</p>
            <a class="btn" style="margin-top: 10px" data-bind="click: startSketch, css: { disabled: isDrawing() }">
                <span>Draw Shape</span>
            </a>
        </div>
        <div data-bind="visible: isDrawing()" style="padding-top: 20px" >
            <div class="well">
                <div>
                    Click on the map to add the points that make up your polygon.
                </div>
                <div id="double-click-instructions" style="padding-top: 10px">
                    Double-click to finish drawing.
                </div>
            </div>
        </div>
        <div data-bind="visible: showEdit()">
            <p class="instructions">Click <b>Next</b> if you are satisfied with your shape.</p>
            <p class="instructions">Click <b>Edit Shape</b> if you would like to make changes to your shape.</p>
            <a class="btn" style="margin-top: 10px" data-bind="click: startEdit, css: { disabled: isEditing() }">
                <span>Edit Shape</span>
            </a>
            <p class="instructions">
                Click and drag the handles or vertices of the shape.                 
            </p>
            <p class="instructions">
                When you are done, click <b>Done Editing</b> below.                 
            </p>
            <a class="btn" style="margin-top: 10px" data-bind="click: completeEdit">
                <span>Done Editing</span>
            </a>
        </div>
        <div id="PanelGeometry"></div>
    </div>
     
    <div class="step" id="step2">
        <p class="step-text"><i>Step 2 of 2 </i></p>
        <p class="instructions">Provide a <b>Name</b> to identify your Drawing </p>
        <div class="step3-inputs">
            <div class="step3-param">
                {{ form.name.errors }}
                {{ form.name }}  
                <div id="invalid-name-message" class="control-group error" style="display: none; margin-top: -10px; margin-left: -5px;">
                    <span class="help-inline">The <b>Name</b> field is required.</span>
                </div>                     
            </div>
            <p class="instructions">Optionally, you may add a <b>Description</b> <!--and/or attach a file--> </p>
            <div class="step3-param">
                {{ form.description.errors }}
                {{ form.description }}            
            </div>
        </div>
    </div>
</form>


<div class="wizard_nav" style="width:100%">
    <div class="btn-group pull-right">
        <a href="#" class="button btn" onclick="this.blur(); return false;" id="button_prev"><span>&lt; Previous</span></a>
        <a href="#" class="button btn button-next"  onclick="this.blur(); return false;" id="button_next"><span>Next &gt;</span></a>
        <a href="#" class="submit_button button btn" onclick="this.blur(); return false;"><span>Save</span></a>
    </div>
</div>

<div>
    <div class="btn-group pull-left">
        <a href="#" class="cancel_button button red btn"><span>Cancel</span></a>
        
    </div>
</div>
   
<style type="text/css">

#drawing-form .button-next {
    border-radius: 4px;
}

#drawing-form textarea,
#drawing-form input[name="name"] {
    width: 90%;
}

div .field > label { font-size: 12px; display: inline; }
div .step { 
    -moz-box-shadow: 5px 5px 5px #ddd;
    -webkit-box-shadow: 5px 5px 5px #ddd;
    box-shadow: 5px 5px 5px #ddd; 
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    border: 1px #ddd solid;
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color: white; 
    background-repeat: no-repeat;
    min-height: 240px;
}
span.form-image { float: left; margin-left: -66px; }
span.form-image > img { width:46px; height:46px; }


label {
    clear: both;
    color: #344E63;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
    text-shadow: 0 1px 0 #FCFAFF;
}
p.step-text {
    margin: 0px;
    text-align:left;
}
p.instructions {
    margin: 0px; 
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    color: #47556C;
    font-size: 14px;
    font-weight: normal;
    font-family: sans-serif;
}

</style>

{% endblock %}
