
<div style="display:none" id="bookmark-popover" class="popover fade left in" data-bind="with: bookmarks">
    <div class="arrow">
    </div>
    <div class="popover-inner">
        <h3 class="popover-title" style="font-size: 16px; font-weight: bold">
            Bookmarks
        </h3>
        <div class="popover-content">
            <div id="bookmarks-table">
                <table class="table table-condensed" style="margin-bottom: 5px;">
                    <tbody data-bind="foreach: bookmarksList">
                        <tr style="border-bottom: 1px solid #dddddd;">
                            <td>
                                <span data-bind="click: loadBookmark">
                                    <a data-bind="text: name, attr: {href: getBookmarkUrl}">name</a>
                                </span>
                                {% if user.is_authenticated %}
                                <a rel="tooltip" data-bind="attr: {title: sharedBy}, visible: shared()" style="text-decoration: none; cursor: default;">
                                    <i class="icon-group" style="padding-left: 10px"></i>
                                </a>
                                {% endif %}
                            </td>
                            <td style="padding-right: 0px; width: 80px">
                                <div class="btn-group" style="text-align: center">
                                    {% if user.is_authenticated %}
                                    <a class="btn btn-mini tweet-trash" data-bind="visible: ! shared() && $parent.sharingGroups().length, click: showSharingModal">
                                        <span rel="tooltip" title="Share bookmark with other MARCO users"><i class="icon-group icon-medium"></i></span>
                                    </a>
                                    {% endif %}
                                    <a class="btn btn-mini tweet-trash"  href="#bookmark-map-links-modal" data-toggle="modal" data-bind="click: $parent.resetBookmarkMapLinks, visible: !shared()">
                                        <span rel="tooltip" title="Export URL or embedded map"><i class="icon-link icon-medium"></i></span>
                                    </a>
                                </div>
                            </td>
                            <td style="padding-left: 0px; width: 35px">
                                <a class="btn btn-mini tweet-trash" data-bind="click: $parent.removeBookmark, visible: !shared()">
                                    <span rel="tooltip" title="Delete"><i class="icon-trash icon-medium"></i></span>
                                </a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
                <p data-bind="visible: bookmarksList().length === 0">
                    Bookmarks save the map and active layers. You currently have no bookmarks.
                </p>
            </div>
            <hr style="margin-bottom: 10px" />
            <h5>
                Create new bookmark
            </h5>
            <form data-bind="submit: saveBookmark" style="margin-bottom: 0px">
                <input type="text" data-bind="value: newBookmarkName" class="input">
                <div class="pull-right">
                    <button class="btn" type="submit">save</button>
                    <button data-bind="click: cancel" class="btn">close</button>
                </div>
            </form>
        </div>
    </div>
</div>