<!-- FEEDBACK MODAL -->
<div id="feedback-tab" class="rounded" data-toggle="modal" data-target="#feedback-modal">
    <a href="#">feedback</a>
</div>
<div id="feedback-modal" class="modal hide fade">
    <form class="form-horizontal" id="feedback-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Feedback</h3>
        </div>
        <div class="modal-body">        
            <div class="control-group">
              <label class="control-label" for="name">Full Name</label>
              <div class="controls">
                <input class="input-xlarge" type="text" name="name" placeholder="Full Name" required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="email">Email Address</label>
              <div class="controls">
                <input class="input-xlarge" type="email" name="email" placeholder="Email Address" required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="comment">Comment</label>
              <div class="controls">
                  <textarea class="input-xlarge" rows="3" name="comment" required></textarea>
              </div>
            </div>

        </div>
        <div class="modal-footer">
            <button href="#" class="btn" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send Feedback</button>
        </div>
  </form>
</div>

<!-- HELP MODAL -->

<div id="help-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Help</h3>
    </div>
    <div class="modal-body" style="text-align: center">  
      <div class="row-fluid">
        <div class="span5" data-bind="css: {span5: !hideTours(), span12: hideTours()}">
            <h4>Contact Us</h4>
            <ul class="unstyled" style="margin-left: 1px">
                <li>Email: <a href="#" data-toggle="modal" data-target="#feedback-modal" data-dismiss="modal">info@midatlanticocean.org</a></li>
                <li>Phone: 732 263-5392</li>
            </ul>
        </div>
        <div class="span7" data-bind="style: {display: hideTours() ? 'none': 'block'}, css: {span7: !hideTours()}">
            <h4>Tour the MARCO Marine Planner</h4>
            <div style="text-align: center">
            <ul class="unstyled" style="margin-left: 1px">
                <li><a href="#" data-dismiss="modal" data-bind="click: startDefaultTour">Tour the Basics</a></li>
                <li><a href="#" data-dismiss="modal" data-bind="click: startDataTour">Tour the Data Tab</a></li>
                <li><a href="#" data-dismiss="modal" data-bind="click: startActiveTour">Tour the Active Tab</a></li>
            </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<!-- SHARE MODAL -->

<div id="share-modal" class="modal hide fade" data-bind="with: app.viewModel.scenarios">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sharing</h3>
    </div>
    <div class="modal-body" style="text-align: center">  
      <div class="row-fluid">
        <div>
            <h4>Share this design with the following:</h4>
            <ul class="unstyled" style="margin-left: 1px">
                <span data-bind="foreach: sharingGroups">
                    <li>
                        <span data-bind="text: group_name"></span> 
                        <i id="group-members" class="icon-group" rel="popover" data-content="And the members are..." data-original-title="Group Members"> </i> 
                    </li>
                </span>
            </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button href="#" class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

