
<!-- printing popover -->
<div style="display:none" id="printing-popover" class="popover fade left in">
    <div class="arrow">
    </div>
    <div class="popover-inner" data-bind="with: printing">
        <h3 class="popover-title">
            Print/Export
        </h3>
        <div class="popover-content">
            <div data-bind="visible: isGoogle() === false">
                <div class="row-fluid">
                    <div class="span6">
                        <strong>Format</strong>
                        <div class="control-group">
                            <label class="radio control-label">
                                <input type="radio" value=".pdf" name="format" data-bind="checked: format">PDF
                            </label>
                            <label class="radio control-label">
                                <input type="radio" name="format" value=".png" checked data-bind="checked: format">PNG
                            </label>
                            <label class="radio control-label">
                                <input type="radio" name="format" value=".jpg" data-bind="checked: format">JPG
                            </label>
                           <!-- <label class="radio control-label">
                                <input type="radio" value=".tiff" name="format" data-bind="checked: format">Georeferenced TIFF
                            </label> -->
                            
                        </div>
                        <strong>Options</strong>
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: borderLess">Borderless Map
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: showLegend, disable: borderLess">Show Legend
                        </label>
                    </div>
                    <div class="span6">
                        <div class="well">

                            <fieldset data-bind="visible: format() !== '.pdf'">
                                <strong>Image Size</strong> 
                                <label>Width (<span data-bind="text: units">inches</span>)</label>
                                <input type="text" class="spinner" data-bind="spinner: shotWidthDisplay, spinnerOptions: { step: .1 }">
                                <label>Height (<span data-bind="text: units">inches</span>)</label>
                                <input type="text" class="spinner" data-bind="spinner: shotHeightDisplay, spinnerOptions: { step: .1 }">
                                <label>Units</label>
                                <select class="span7" data-bind="value: units">
                                    <option value="inches">inches</option>
                                    <option value="pixels">pixels</option>
                                </select>
                            </fieldset>
                            <fieldset data-bind="visible: format() === '.pdf'">
                                <strong>Paper Size</strong>
                                    <label class="radio control-label">
                                        <input type="radio" name="paperSize" value='letter' data-bind="checked: paperSize">Letter (8.5" x 11")
                                    </label>
                                    <label class="radio control-label">
                                        <input type="radio"  name="paperSize" value='ledger' data-bind="checked: paperSize">Ledger (11" x 17")
                                    </label>
                                    <label class="radio control-label">
                                        <input type="radio" name="paperSize"  value='A4' data-bind="checked: paperSize">A4 (297mm x 210mm)
                                    </label>
                                    <label class="radio control-label">
                                        <input type="radio" name="paperSize"  value='A3' data-bind="checked: paperSize">A3 (420mm x 297mm)
                                    </label>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <label><strong data-bind="css: { disabled: borderLess }">Title</strong></label>
                    <input class="print-title" type="text" data-bind="value: title, valueUpdate: 'afterkeydown', disable: borderLess" placeholder="Optional title for map...">
                </fieldset>
            </div>

            <div data-bind="visible: isGoogle">
                <div class="alert alert-error">
                  Map printing is not available with Google Base Layers.
                </div>
            </div>

            <p class="pull-right">
                <a class="btn" data-bind="click: cancel">cancel</a>
                <button class="btn" data-bind="click: sendJob, disable: isGoogle">export</button>
                <div class="clearfix"></div>
            </p>
        </div>
    </div>
</div>

<!-- Print Dialog -->
<div id="print-modal" class="modal hide fade" data-bind="with: printing">
    <div class="modal-header">
        <button type="button" class="close clearfix" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row-fluid" data-bind="visible: thumbnail">
            <div class="span12">
                <a data-bind="attr: {href: thumbnail }" target="_blank"><img class="thumb" data-bind="attr: {src: thumbnail}"/></a>
            </div>
        </div>
        <div class="row-fluid results" data-bind="visible: showSpinner">
            
            <div class="span12 loading">
                <strong><img src="{{MEDIA_URL}}marco/img/ajax-loader.gif"/> <span data-bind="text: jobStatus"></span></strong>
            </div>
         
        </div>
    </div>
    <div class="modal-footer" data-bind="visible: ! showSpinner()">
        <a href="#" class="btn" data-dismiss="modal">close</a>
        <!--<a href="#" class="btn" data-dismiss="modal" data-bind="disable: showSpinner"><i class="icon-envelope"></i> email</a>
        <a href="#" class="btn" data-dismiss="modal" data-bind="click: print, disable: showSpinner"><i class="icon-print"></i> print</a>-->
        <a class="btn" data-bind="disable: showSpinner, attr: { href: download }, click: downloadFile" target="_blank"><i class="icon-download-alt"></i> save</a>
    </div>
</div>
<!-- Email Bookmark Form -->
<div id="bookmark-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Bookmark Email</h3>
    </div>
    <form class="form-horizontal" id="bookmark-form">
        <div class="modal-body">        
            <div class="control-group">
              <label class="control-label" for="recipient">To</label>
              <div class="controls">
                <input class="input-xlarge" type="email" name="recipient" placeholder="Email Address" required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="body">Email Message</label>
              <div class="controls">
                  <textarea class="input-xlarge" rows="3" name="comment" placeholder="A link to your bookmark will be included in the email.  Include any additional text you would like to send here."></textarea>
              </div>
            </div>
            <input type="hidden" name="link" data-bind="attr: {value: bookmarkEmail}">
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>

