
<div class="tab-pane fade" id="designs" data-tab="designs" data-bind="with: scenarios">
  <div id="designs-slide">
    <!-- Create New Design dropdown menu -->
    <div class="row-fluid">
        <div class="alert alert-success" data-bind="visible: loadingMessage">
          <strong>Creating!</strong> <span data-bind="text: loadingMessage"></span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%"></div>
          </div>
        </div>
        <div class="alert alert-error" data-bind="visible: errorMessage">
          <strong>Error!</strong> <span data-bind="text: errorMessage"></span>
          <div>
            <button class="btn pull-right" data-bind="click: reset">Try Again</button>
            <div class="clearfix"></div>
          </div>
        </div>
    </div>
    
    <div class="form-container" data-bind="visible: ! (loadingMessage() || errorMessage())">
        <div id="designs-data" data-bind="visible: !scenarioForm() && !selectionForm() && !reportsVisible() && !drawingForm()">
            <div class="row-fluid">
                <div class="span12">
                    <div id="view-reports-button" class="btn pull-right" data-bind="click: showComparisonReports">
                        View Reports
                    </div>
                    <div id="create-new-design" class="btn-group pull-left" style="padding-bottom: 10px;">
                        <a id="create-new-button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            Create New
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 115px;">
                            <li id="create-new-drawing"><a data-bind="click: createPolygonDesign" style="padding-left: 15px">Drawing</a></li>
                            <li id="create-new-selection"><a data-bind="click: createSelectionDesign" style="padding-left: 15px">Lease Block Collection</a></li>
                            {% load in_group %}
                            {% if user|in_group:"Designers" %}
                            <li><a data-bind="click: createWindScenario" style="padding-left: 15px">Wind Energy Siting</a></li>
                            {% endif %}
                            <!--
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sketch of the Sea</a>
                                <ul class="dropdown-menu">
                                    <li><a data-bind="click: createPointDesign">Point</a></li>
                                    <li><a data-bind="click: createLineDesign">Line</a></li>
                                    <li><a data-bind="click: createPolygonDesign">Polygon</a></li>
                                </ul>                                
                            </li>
                            -->
                        </ul>
                    </div>
                    
                </div>
            </div>
            
            <div id="design-list" class="row-fluid">
                <div id="designs-accordion" class="designs">
                    <div class="accordion" style="padding-bottom: 110px">                    
                        
                        <!-- DRAWINGS -->
                        <div>
                            <div class="accordion-group">
                                <div class="collections-header">
                                    <div id="drawings-header" class="accordion-heading" data-bind="click: toggleDrawingsOpen, css: { 'active': isDrawingsOpen() }">
                                        <div>
                                            <a class="accordion-toggle">
                                                <!--<span>Sketches of the Sea</span>-->
                                                <span>Drawings</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-body collapse" data-bind="css: { 'in': isDrawingsOpen() }">
                                    <div class="accordion-inner">
                                    
                                        <div data-bind="visible: !drawingList().length" style="font-weight: normal">
                                            <div style="padding: 10px;">
                                                <p>
                                                    You currently have no Drawings. 
                                                </p>
                                                <p>
                                                    Choose 'Drawing' from the '<b>Create New</b>' menu above to create a Drawing.
                                                </p>
                                                <p>
                                                    Note:  You may, at any time, edit, share, or remove any of the drawings that you have created.  
                                                    Any drawings shared with you can be copied so that they too can be edited, shared, or removed.
                                                </p>
                                            </div>
                                        </div>
                                    
                                        <ul class="unstyled list" data-bind="foreach: drawingList ">
                                            <li class="layer">
                                                <div class="btn-group btn-group-layer">
                                                    <a class="btn btn-info-sign" data-bind="click: toggleDescription, css: { 'active': infoActive() }">
                                                        <i class="icon-info-sign icon-large"></i>
                                                    </a>
                                                    <a style="font-weight: normal" class="btn btn-layer" data-bind="css: { 'active': active(), 'not-active': ! active() }, click: toggleActive">
                                                        <div data-bind="text: name"></div>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedBy}">
                                                            <i class="icon-signin" data-bind="visible: shared" style="padding-left: 10px"></i>
                                                        </span>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedWith}">
                                                            <i class="icon-signout" data-bind="visible: selectedGroups().length" style="padding-left: 10px"></i>
                                                        </span>
                                                        <i class="check icon-large icon-check" data-bind="visible: active() && visible()"></i>
                                                        <i class="check icon-large icon-check-empty" data-bind="visible: active() && ! visible()"></i>
                                                    </a>
                                                    <a class="btn btn-group dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-bind="visible: ! shared(), click: editDrawing">Edit</a></li>
                                                        <li><a id="share-option" data-bind="visible: ! shared() && $parent.hasSharingGroups, click: $parent.showSharingModal">Share</a></li>
                                                        <li><a data-bind="click: $parent.zoomToScenario">Zoom To</a></li>
                                                        <li class="divider"></li>
                                                        <li><a data-bind="visible: ! shared(), click: deleteDrawing">Delete</a></li>
                                                        <li><a data-bind="visible: shared, click: createCopyDrawing">Create Copy</a></li>
                                                    </ul>
                                                </div>
                                            </li>  
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end drawings -->
                        
                        <!-- LEASE BLOCK COLLECTIONS -->
                        <div>
                            <div class="accordion-group">
                                <div class="collections-header">
                                    <div id="lease-block-collections-header" class="accordion-heading" data-bind="click: toggleCollectionsOpen, css: { 'active': isCollectionsOpen() }">
                                        <div>
                                            <a class="accordion-toggle">
                                                <!--<span>Lease Block Collections</span>-->
                                                <span>Lease Block Collections</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-body collapse" data-bind="css: { 'in': isCollectionsOpen() }">
                                    <div class="accordion-inner">
                                    
                                        <div data-bind="visible: !selectionList().length" style="font-weight: normal">
                                            <div style="padding: 10px;">
                                                <p>
                                                    You currently have no Lease Block Collections. 
                                                </p>
                                                <p>
                                                    Choose 'Lease Block Collection' from the '<b>Create New</b>' menu above to create a Lease Block Collection.
                                                </p>
                                                <p>
                                                    Note:  You may, at any time, edit, share, or remove any of the collections that you have created.  
                                                    Any collections shared with you can be copied so that they too can be edited, shared, or removed.
                                                </p>
                                            </div>
                                        </div>                                   
                                    
                                        <ul class="unstyled list" data-bind="foreach: selectionList ">
                                            <li class="layer">
                                                <div class="btn-group btn-group-layer">
                                                    <a class="btn btn-info-sign" data-bind="click: toggleDescription, css: { 'active': infoActive() }">
                                                        <i class="icon-info-sign icon-large"></i>
                                                    </a>
                                                    <a style="font-weight: normal" class="btn btn-layer" data-bind="css: { 'active': active(), 'not-active': ! active() }, click: toggleActive">
                                                        <div data-bind="text: name"></div>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedBy}">
                                                            <i class="icon-signin" data-bind="visible: shared" style="padding-left: 10px"></i>
                                                        </span>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedWith}">
                                                            <i class="icon-signout" data-bind="visible: selectedGroups().length" style="padding-left: 10px"></i>
                                                        </span>
                                                        <i class="check icon-large icon-check" data-bind="visible: active() && visible()"></i>
                                                        <i class="check icon-large icon-check-empty" data-bind="visible: active() && ! visible()"></i>
                                                    </a>
                                                    <a class="btn btn-group dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-bind="visible: ! shared(), click: editSelection">Edit</a></li>
                                                        <li><a id="share-option" data-bind="visible: ! shared() && $parent.hasSharingGroups, click: $parent.showSharingModal">Share</a></li>
                                                        <li><a data-bind="click: $parent.zoomToScenario">Zoom To</a></li>
                                                        <li class="divider"></li>
                                                        <li><a data-bind="visible: ! shared(), click: deleteSelection">Delete</a></li>
                                                        <li><a data-bind="visible: shared, click: createCopySelection">Create Copy</a></li>
                                                    </ul>
                                                </div>
                                            </li>  
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end collections -->
                        
                        <!-- WIND ENERGY SITINGS -->
                        {% if user|in_group:"Designers" %}
                        <div>
                            <div class="accordion-group">
                                <div class="accordion-heading" data-bind="click: toggleScenariosOpen, css: { 'active': isScenariosOpen() }">
                                    <a class="accordion-toggle">
                                        <span>Wind Energy Sitings</span>
                                    </a>
                                </div>
                                <div class="accordion-body collapse" data-bind="css: { 'in': isScenariosOpen() }">
                                    <div class="accordion-inner">
                                    
                                        <div data-bind="visible: !scenarioList().length" style="font-weight: normal">
                                            <div style="padding: 10px;">
                                                <p>
                                                    You currently have no Wind Energy Sitings. 
                                                </p>
                                                <p>
                                                    Choose 'Wind Energy Siting' from the '<b>Create New</b>' menu above to create a Wind Energy Siting.
                                                </p>
                                                <p>
                                                    Note:  You may, at any time, edit, share, or remove any of the sitings that you have created.  
                                                    Any sitings shared with you can be copied so that they too can be edited, shared, or removed.
                                                </p>
                                            </div>
                                        </div> 
                                        
                                        <ul class="unstyled list" data-bind="foreach: scenarioList ">
                                            <li class="layer">
                                                <div class="btn-group btn-group-layer">
                                                    <a class="btn btn-info-sign" data-bind="click: toggleDescription, css: { 'active': infoActive() }">
                                                        <i class="icon-info-sign icon-large"></i>
                                                    </a>
                                                    <a style="font-weight: normal" class="btn btn-layer" data-bind="css: { 'active': active(), 'not-active': ! active() }, click: toggleActive">
                                                        <div data-bind="text: name"></div>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedBy}">
                                                            <i class="icon-signin" data-bind="visible: shared" style="padding-left: 10px"></i>
                                                        </span>
                                                        <span rel="tooltip" data-bind="attr: {title: sharedWith}">
                                                            <i class="icon-signout" data-bind="visible: selectedGroups().length" style="padding-left: 10px"></i>
                                                        </span>
                                                        <i class="check icon-large icon-check" data-bind="visible: visible()"></i>
                                                        <i class="check icon-large icon-check-empty" data-bind="visible: active() && ! visible()"></i>
                                                    </a>
                                                    <a class="btn btn-group dropdown-toggle"data-toggle="dropdown" href="#">
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a data-bind="visible: ! shared(), click: editScenario">Edit</a></li>
                                                        <!--<li><a id="share-option" href="#share-modal" data-toggle="modal">Share</a></li>-->
                                                        <li><a id="share-option" data-bind="visible: ! shared() && $parent.hasSharingGroups, click: $parent.showSharingModal">Share</a></li>
                                                        <li><a data-bind="click: $parent.zoomToScenario">Zoom To</a></li>
                                                        <li class="divider"></li>
                                                        <li><a data-bind="visible: ! shared(), click: deleteScenario">Delete</a></li>
                                                        <li><a data-bind="visible: shared, click: createCopyScenario">Create Copy</a></li>
                                                    </ul>
                                                    <!-- style="height: 20px; padding: 4px 12px; border-left-width: 0px" -->
                                                </div>
                                            </li>  
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- end wind sitings -->
                        
                    </div>
                </div>
            </div>   
        </div>    
         
        {% if user|in_group:"Designers" %}  
        <div style="height: 100%" data-bind="visible: scenarioForm">   
            <div id="scenario-form" class="panel-container"></div>   
        </div>
        {% endif %}
        
        <div style="height: 100%" data-bind="visible: selectionForm">   
            <div id="selection-form" class="panel-container"></div>   
        </div>
        
        <div style="height: 100%" data-bind="visible: drawingForm">   
            <div id="drawing-form" class="panel-container"></div> 
        </div>
        
        <div style="height: 100%" data-bind="visible: reportsVisible">   
            <div id="reports" class="panel-container" data-bind="with: reports">
                <div class="form-container">
                    <div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="btn pull-right" data-bind="click: app.viewModel.scenarios.returnToDesigns">
                                    Return to Designs
                                </div>
                                <div id="create-new-design" class="btn-group pull-left" style="padding-bottom: 10px;">
                                    <a id="comparison-reports-button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                        Comparison Reports
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-bind="click: hideReport">Introduction</a></li>
                                        <li><a data-bind="click: showWindReport">Wind Energy Potential</a></li>
                                        <li><a data-bind="click: showSubstationReport">Distance to Coastal Substations</a></li>
                                        <li><a data-bind="click: showAWCReport">Distance to AWC Hubs</a></li>
                                        <li><a data-bind="click: showShorelineReport">Distance to Shore</a></li>
                                        <li><a data-bind="click: showDepthReport">Depth Range</a></li>
                                        <li><a data-bind="click: showShippingReport">Distance to Ship Routing Measures</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div id="reports-intro" data-bind="visible: !showingReport()">
                        <p>Comparison Reports can be used to visually compare your Lease Block Selections across various measurable values.</p>
                    </div>
                    <div data-bind="visible: !showingReport() && !noActiveCollections()">
                        <p><b>Select a Comparison Report</b> from the menu above.</p>
                    </div>
                    <div data-bind="visible: noActiveCollections()">
                        <p>Comparison Reports will provide a comparison of all of your visible Lease Block Selections.</p>
                        <p id="comparison-report-flash-instructions">
                            <span data-bind="visible: $parent.selectionList().length==0">
                                You do not currently have any Lease Block Selections to compare.  
                                Create Lease Block Selections through the Create New button on the Designs panel.
                            </span>
                            <span data-bind="visible: $parent.selectionList().length!=0">
                                You currently have no Lease Block Selections displayed on the map.  
                                <b>Activate one or more Lease Block Selections before choosing a report.</b>
                            </span>
                        </p>
                    </div>
                    <div id="reports-container" data-bind="visible: showingReport() && !noActiveCollections()" style="max-width: 400px; height: 400px; margin: 0 auto; margin-left: -10px; margin-top: 20px;">
                    </div>
                </div>
            </div>   
        </div>
    </div>
  </div>
</div>