<div id="help-tab" class="rounded" data-bind="style: {visibility: app.viewModel.hideTours() ? 'hidden': 'visible' }">
    <a href="#">tour</a>
</div>

<!-- Default Tour -->
<div id="help-text-help-button" class="hide">
    <p>The MARCO contact email and phone number are available through the Help button, as well as links to each of the tours that we have available.</p>
    <ul style="list-style-type: none; margin-left: 5px">
        <li><a id="continue-basic-tour" href="#">Continue Touring the Basics</a>
        <li><a id="start-data-tour" href="#">Tour the Data tab</a>
        <li><a id="start-active-tour" href="#">Tour the Active tab</a>
    </ul>
</div>
<div id="help-text-dataTab" class="hide">
    <p>The Data tab is where you'll find the data layers available for viewing.</p>
    <ol>
        <li>Click on a Theme (Administrative, Fishing, etc) to expose its Data Layers
        <li>Click a Data Layer to display it on the map
    </ol>
    <!--<p>Clicking on the Themes in the Data tab will expose the Layers.  And clicking on the Layers will display the data on the Map.</p>-->
    <p><a id="start-data-tour" href="#">Tour the Data tab</a></p>
</div>
<div id="help-text-activeTab" class="hide">
    <p>Switching to the Active tab allows you to further manipulate the data activated from the Data tab.</p>
    <p>From the Active tab you can adjust the ordering of the layers on the map, as well as their transparency and visibility.</p>
    <p><a id="start-active-tour" href="#">Tour the Active tab</a></p>
</div>
<div id="help-text-form-search" class="hide">
    <p>The auto-complete search field helps you locate and view data.</p>
    <ol> 
        <li>Enter your search term into the search box
        <li>Select from the list of auto-complete options
        <li>The theme containing your layer will be expanded to show its location and your layer will be shown on the map
    </ol>
</div>
<div id="help-text-olControlZoom" class="hide">
    <p>Use the + and - to zoom in and zoom out. Go ahead, Try it! </p>
    <p>Alternatively, to zoom in to a particular area on the map: </p>
    <ol>
        <li>Hold down the shift key
        <li>Then with the mouse button pressed, drag the mouse across the map (the zoom area will be shown on the map)
        <li>Release the mouse button when the zoom area is complete
    </ol>
</div>
<div id="help-text-basemaps" class="hide">
    <p>The map includes the following specialized features allowing you to: </p>
    <ol>
        <li>Change the underlying Basemaps
        <li>View Legends associated with the visible layers
        <li>Hide/Show the Layer Panel 
        <li>Use Bookmarks to create, store, and share your personalized map views
        <li>Share the Map as a URL, or copy the HTML (iframe) to embed the map in your own web page
        <li>View the map in Full Screen
        <li>Export Map Views for power point presentations, printing, and collaboration
    </ol>
</div>

<!-- Data Tab Tour -->
<div id="help-text-data-tour-dataTab" class="hide">
    <p>The Data tab is where you'll find the data layers available for viewing.</p>
    <ol>
        <li>Click on a Theme (Administrative, Fishing, etc) to expose its Data Layers
        <li>Click a Data Layer to display it on the map
    </ol>
    <p><a name="start-default-tour" href="#">Return to the Basic Tour</a></p>
</div>
<div id="help-text-data-tour-form-search" class="hide">
    <p>The auto-complete search field helps you locate and view data.</p>
    <ol> 
        <li>Enter your search term into the search box
        <li>Select from the list of auto-complete options
        <li>The theme containing your layer will be expanded to show its location and your layer will be shown on the map
    </ol>
</div>
<div id="help-text-data-tour-theme" class="hide">
    <p style="margin-top: 20px">Clicking on the Themes will expand/contract the Data Layer lists</p>
</div>
<div id="help-text-data-tour-layer" class="hide">
    <p style="margin-top: 20px">Clicking on the Layer names will display the data on the map</p>
</div>
<div id="help-text-data-tour-info-sign" class="hide">
    <p>Clicking on the Info button for any layer will display the layer description at the bottom of the map.</p>
    <p>This includes descriptive information, the source of the data, and links for download and further exploration.</p>
</div>

<!-- Active Tab Tour -->
<div id="help-text-active-tour-activeTab" class="hide">
    <p style="margin-top: 10px">Switching to the Active tab allows you to further manipulate the data activated from the Data tab.</p>
    <p>From the Active tab you can adjust the ordering of the layers on the map, as well as their transparency and visibility.</p>
    <p><a name="start-default-tour" href="#">Return to the Basic Tour</a></p>            
</div>
<div id="help-text-active-tour-opacity-button" class="hide">
    <p style="margin-top: 30px">Clicking on the transparency button gives you control over the layer's transparency on the map.</p>
</div>
<div id="help-text-active-tour-ui-sortable" class="hide">
    <p>The ordering of the layers on the map mirrors the ordering in the Active panel.</p>
    <p>To manipulate the order of the layers simply drag the layer to the desired position in the list of layers.</p>
    <ol> 
        <li>Click on a layer name
        <li>While holding down the mouse button, drag the chosen layer to a different position in the layer ordering
        <li>Release the mouse button, and the map layers have been re-ordered, both in the Active panel and on the map
    </ol>
</div>

<!-- Designs Tab Tour -->
<div id="help-text-designs-tour-designsTab" class="hide">
    <p style="margin-top: 10px">The Designs tab allows you to create and manage your own customized shapes.</p>
    <p>In the Designs tab you can Draw shapes and you can create Collections of Lease Blocks from which you can generate reports.</p>
    <p><a name="start-default-tour" href="#">Return to the Basic Tour</a></p>            
</div>
<div id="help-text-designs-tour-createNew" class="hide">
    <p style="margin-top: 30px">From the Create New button, you can begin the process of Drawing shapes or creating Lease Block Collections.</p>
</div>
<div id="help-text-designs-tour-leaseBlockCollections" class="hide">
    <p style="margin-top: 30px">Your designs will be stored under the Drawings header and under the Lease Block Collections header. </p>
</div>
<div id="help-text-designs-tour-viewReports" class="hide">
    <p style="margin-top: 30px">Once you have created one or more Lease Block Collections, click View Reports to view comparison charts for various metrics.</p>
</div>

