/* rules for the layerswitcher */

.Basey {
  position:absolute;
  top:10px;
  right:10px;
  background:#fff;
  border:1px solid #ccc;
  min-width:150px;
  background: #fff url('carat.png') no-repeat;
  background-position:5px 5px;
}
.Basey a.basey {
  display:block;
  text-decoration:none;
  color:#838383;
  padding:2px 5px 2px 20px;
}
.Basey a.basey-on {
  color:#000;
}
.Basey a.basey-off {
  display:none;
}
.Basey:hover a {
  border-top:1px solid #eee;
}
.Basey a:hover {
  background-color:#f5f5f5;
}
.Basey a.basey-over {
  color:#6794BE;
}
.Basey a.basey-over:before {
  content:'+';
}
.Basey:hover a:first-child {
  border-top:none;
}
.Basey:hover a.basey-off {
  display:block;
}