{% extends "common/panel.html" %}
{% block title %}{{title}}{% endblock %}
{% block panel %}
<script type="text/javascript" charset="utf-8">

    madrona.onShow(function(){
        madrona.setupForm($('#featureform'));
        
        var step = 1;
        var max_step = 3;

        $('.inputfield').each(function() {
            $(this).hide();
        });
        if ($('#id_input_parameter_depth').is(':checked')) {
            $('#depth_widget').show();
        } 
        if ($('#id_input_parameter_substrate').is(':checked')) {
            $('#substrate_widget').show();
        } 
        if ($('#id_input_parameter_sediment').is(':checked')) {
            $('#sediment_widget').show();
        } 
        if ($('#id_input_parameter_wind_speed').is(':checked')) {
            $('#wind_speed_widget').show();
        } 
        
        function validate(step) {
            if (step == 1) {
                parameter_selections = 0;
                var all_params = $('input.parameters');
                $.each(all_params, function(index, param) {
                    if (param.checked) {
                        parameter_selections += 1;
                    }
                });
                if (parameter_selections == 0) {
                    alert("Select at least 1 Parameter.");
                    return false;
                } else {
                    if ($('#id_input_parameter_substrate').is(':checked')) {
                        substrate_selections = 0;
                        $.each($('.substrate_checkboxes'), function(index, checkbox) {
                            if (checkbox.checked) {
                                substrate_selections += 1;
                            }
                        });
                        if (substrate_selections == 0) {
                            alert("Select at least 1 Substrate Type or de-activate the Substrate filter.");
                            return false;
                        }
                    } else if ($('#id_input_parameter_sediment').is(':checked')) {
                        sediment_selections = 0;
                        $.each($('.sediment_checkboxes'), function(index, checkbox) {
                            if (checkbox.checked) {
                                sediment_selections += 1;
                            }
                        });
                        if (sediment_selections == 0) {
                            alert("Select at least 1 Sediment Type or de-activate the Sediment filter.");
                            return false;
                        }
                    }
                }
            } 
            return true;
        }; 

        function wizard(action) {
            if (step == 1 && action == 'next') {
                if (validate(step)) {
                    step += 1;
                }
            } else if (step < max_step && action == 'next') {
                step += 1;
            } else if (step > 1 && action == 'prev') {
                step -= 1;
            }
            $('div.step').each(function(index) {
                $(this).hide();
            });
            $('div#step' + step).show();

            if (step == 1) {
                $('#button_prev').hide();
            } else {
                $('#button_prev').show();
            }

            if (step == max_step) {
                $('#button_next').hide();
                $('.submit_button').show();
            } else {
                $('#button_next').show();
                $('.submit_button').hide();
            }
        };
        
        function showhide_widget(element) {
            element.fadeToggle(100); //slideToggle
        }
        
        $('#id_input_parameter_depth').click( function() { showhide_widget($('#depth_widget')); });
        $('#id_input_parameter_substrate').click( function() { showhide_widget($('#substrate_widget')); });
        $('#id_input_parameter_sediment').click( function() { showhide_widget($('#sediment_widget')); });
        $('#id_input_parameter_wind_speed').click( function() { showhide_widget($('#wind_speed_widget')); });
       
        $('#button_prev').click( function() { wizard('prev'); });
        $('#button_next').click( function() { wizard('next'); });
        wizard();
        
        $('ul.errorlist').each( function() {
                $('div#error_bar').html("<ul class='errorlist'><li>We encountered an error while processing your request. Can you recheck the steps and make sure you've filled in all the required information?</li></ul>");
        });
                      
    });

</script>

{% if form.media %} {{ form.media }} {% endif %}
<h1>
    <img src="/media/marco/img/multi.png"/>
    <small>New SDC for Wind Energy </small> 
</h1>
<form id="featureform" action="{{action}}" method="post"> 
  {% for hidden in form.hidden_fields %}
    <div style="display:none;">
        {{ hidden.errors }}
    </div>
    {{ hidden }}
  {% endfor %}
  <div id="error_bar"></div>
  
  <div class="step" id="step1">
    <p class="step-text"><i>Step 1 of 3 </i>
    <p class="instructions">Select 1 or more parameters for this sector <p>
    <label class="step1-header">Wind Energy</label>
    <div id="step1_inputs">
        <ul class="parameters">
        <li>
            <label>{{ form.input_parameter_depth }} Depth Range</label>
            <div id="depth_widget" class="inputfield">
                <label class="param">
                    Desired Range (in feet)
                    {{ form.input_min_depth }}            
                    to
                    {{ form.input_max_depth }}            

                    {{ form.input_depth }}  
                    {{ form.input_depth.errors }}
                </label>  
            </div>
        </li>
        <li>
            <label>{{ form.input_parameter_substrate }} Substrate Types</label>
            <div id="substrate_widget" class="inputfield">
                {{ form.input_substrate }}  
                {{ form.input_substrate.errors }} 
            </div>
        </li>
        <li>
            <label>{{ form.input_parameter_sediment }} Sediment Types</label>
            <div id="sediment_widget" class="inputfield">
                {{ form.input_sediment }}  
                {{ form.input_sediment.errors }}
            </div>
        </li>
        <li>
            <label>{{ form.input_parameter_wind_speed }} Wind Speed</label>
            <div id="wind_speed_widget" class="inputfield">
                <label class="param"> Minimum Average Speed (mph)
                    {{ form.input_avg_wind_speed }} 
                    {{ form.input_avg_wind_speed.errors }}   
                </label> 
            </div>
        </li>
        </ul>
    </div>
  </div>

  <div class="step" id="step2">
    <p class="step-text"><i>Step 2 of 3 </i>
    <p class="instructions">Choose any filtering parameters from other sectors <p>
    <div id="step2_inputs">
        <label class="step2-header">
            Shipping
        </label>
        <label class="step2-header">
            Conservation
        </label>
    </div>
  </div>

<div class="step" id="step3">
    <p class="step-text"><i>Step 3 of 3 </i>
    <p class="instructions">Provide a name to identify your scenario: </p>
    <div class="step3-inputs">
        <div class="step4-header">
            {{ form.name.label_tag }}
            {{ form.name.errors }}
            {{ form.name }}            
        </div>
        <p class="instructions">Optionally, you may add a description and/or attach a file: </p>
        <div class="step4-header">
            {{ form.description.label_tag }}
            {{ form.description.errors }}
            {{ form.description }}            
        </div>
        <div class="step4-header">
            {{ form.support_file.label_tag }}
            {{ form.support_file.errors }} 
            {% if form.support_file.help_text %}
                <p>{{ form.support_file.help_text }}</p>            
            {% endif %}
            <p>{{ form.support_file }}</p>         
        </div>
    </div>
</div>

<p><input type="submit" value="submit"></p>
</form>


<div class="wizard_nav" style="width:100%">
    <a href="#" class="button" style="float:left;" onclick="this.blur(); return false;" id="button_prev"><span>&lt; Previous</span></a>
    <a href="#" class="button" style="float:right;" onclick="this.blur(); return false;" id="button_next"><span>Next &gt;</span></a>
</div>

<div>
    <a href="#" class="cancel_button button red" onclick="this.blur(); return false;"><span>Cancel</span></a>
    <a href="#" class="submit_button button" onclick="this.blur(); return false;"><span>Submit</span></a>
</div>

<!-- TODO: clean up the following (much of it is not being used) after we've made some progress -->
<style type="text/css">

div .field > label { font-size: 12px; display: inline; }
div .step { 
    -moz-box-shadow: 5px 5px 5px #ddd;
    -webkit-box-shadow: 5px 5px 5px #ddd;
    box-shadow: 5px 5px 5px #ddd; 
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    border: 1px #ddd solid;
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color: white; 
    background-repeat: no-repeat;
    min-height: 54px;
}
span.form-image { float: left; margin-left: -66px; }
span.form-image > img { width:46px; height:46px; }


label {
    clear: both;
    color: #344E63;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
    text-shadow: 0 1px 0 #FCFAFF;
}
p.step-text {
    margin: 0px;
    text-align:left;
}
p.instructions {
    margin: 0px; 
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    color: #47556C;
    font-size: 14px;
    font-weight: normal;
    font-family: sans-serif;
}
form ul {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 20px;
}
form ul li {
    padding-left: 15px !important;
}
li label {   
    font-weight: normal !important;
    margin-bottom: 0px !important;
}
form ul.parameters {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 40px;
}
label.step1-header {
    font-weight: bold;
    padding-left: 5px !important;
}
label.step2-header {
    font-weight: bold;
    padding-left: 15px !important;
    padding-bottom: 10px !important;
}
label.step3-header {
    font-weight: bold;
    padding-left: 15px !important;
    padding-bottom: 10px !important;
}
div.step4-header {
    font-weight: bold;
}
label.param {
    font-weight: normal !important;
    padding-left: 0px !important;
}
div.param-checkboxes {
    padding-left: 10px !important;
}
div.inputfield {
    padding-bottom: 10px !important;
}
img.info {
    display: inline !important;
}
<!-- might remove the following and keep jquery-widgets.css...had some trouble getting this code to catch on its own -->
.slidervalue { 
    width: 40px !important;
}
.ui-slider { 
    position:relative; 
    text-align:left; 
    left:15px; 
}

</style>

{% endblock %}