{% extends "common/panel.html" %}
{% block title %}{{title}}{% endblock %}
{% block panel %}
{% load flatblock_tags %}

<script type="text/javascript" charset="utf-8">

    madrona.onShow(function(){
        madrona.setupForm($('#wind-design-form'));
        
        var step = 1;
        var max_step = 3;

        $('.inputfield').each(function() {
            $(this).hide();
        });
        updateDesignScrollBar();
        
        function validate(step) {
            if (step == 1) {/*
                parameter_selections = 0;
                var all_params = $('input.parameters');
                //NOTE:  This will also examine parameters in Step 2...might call those 'filters' to prevent this problem?
                //       This means the user could select a param in step 1, proceed to step 2, select param there, 
                //       return to step 1 and deselect all params there, and then proceed back to step 2 with no parameters selected
                //       or maybe call them parameters_step2...?
                $.each(all_params, function(index, param) {
                    if (param.checked) {
                        parameter_selections += 1;
                    }
                });
                if (parameter_selections == 0) {
                    alert("Select at least 1 Criteria.");
                    return false;
                } else {
                    if ($('#id_input_parameter_wea').is(':checked')) {
                        wea_selections = 0;
                        $.each($('.wea_checkboxes'), function(index, checkbox) {
                            if (checkbox.checked) {
                                wea_selections += 1;
                            }
                        });
                        if (wea_selections == 0) {
                            alert("Select at least 1 Wind Energy Area or de-activate the Wind Energy Areas criteria.");
                            return false;
                        }
                    }
                }*/
            } 
            return true;
        }; 

        function wizard(action) {
            if (step == 1 && action == 'next') {
                if (validate(step)) {
                    step += 1;
                }
            } else if (step < max_step && action == 'next') {
                step += 1;
            } else if (step > 1 && action == 'prev') {
                step -= 1;
            }
            $('div.step').each(function(index) {
                $(this).hide();
            });
            $('div#step' + step).show();
            updateDesignScrollBar();
            $('#wind-design-form').data('jsp').scrollTo(0,0);
            

            if (step == 1) {
                $('#button_prev').hide();
                $('#button_next').css('border-radius', '4px');
            } else {
                $('#button_prev').show();
                $('#button_next').css('border-top-right-radius', '4px');
                $('#button_next').css('border-bottom-right-radius', '4px');
                $('#button_next').css('border-top-left-radius', '0px');
                $('#button_next').css('border-bottom-left-radius', '0px');
            }

            if (step == max_step) {
                $('#button_next').hide();
                $('.submit_button').show();
            } else {
                $('#button_next').show();
                $('.submit_button').hide();
            }
        };
        
        function showhide_widget(element) {
            element.fadeToggle(100); //slideToggle
        }  
        
        function updateDesignScrollBar() {
            var designsWizardScrollpane = $('#wind-design-form').data('jsp');
            if (designsWizardScrollpane === undefined) {
                $('#wind-design-form').jScrollPane();
            } else {
                setTimeout(function() {designsWizardScrollpane.reinitialise();},200);
            }
        }
        
        function updateRemaininLeaseBlocks() {
            app.viewModel.scenarios.scenarioFormModel.updateLeaseblocksLeft();
            app.viewModel.scenarios.scenarioFormModel.updateRemainingBlocks();
        }
              
        // WIND SPEED UPDATED
        //Update Leaseblocks
        //slide ensures that leaseblocks are updated when the slider is adjusted
        //slidechange ensures that leaseblocks are updated when the text area is modified
        $('#slider-input_avg_wind_speed').bind( "slide slidechange", function(event, ui) {
            //var $left_side = $(event.target).find('.ui-slider-range');
            if (app.viewModel.scenarios.scenarioFormModel) {
                app.viewModel.scenarios.scenarioFormModel.change_wind_message(ui.value);
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'wind', 'value': ui.value});
                updateRemaininLeaseBlocks();
            }
        });
              
        // DISTANCE TO SHORE UPDATED
        //Update Remaining Leaseblocks 
        $('#slider-input_distance_to_shore').bind( "slide slidechange", function(event, ui) {
            if (app.viewModel.scenarios.scenarioFormModel) { //this condition prevents error thrown at form creation time
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'min_distance', 'value': ui.values[0]});
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'max_distance', 'value': ui.values[1]});
                //Update Remaining Leaseblocks 
                updateRemaininLeaseBlocks();
            }
        });  
        
        
        // DEPTH RANGE UPDATED
        //Update Remaining Leaseblocks 
        $('#slider-input_depth').bind( "slide slidechange", function(event, ui) {
            if (app.viewModel.scenarios.scenarioFormModel) { //this condition prevents error thrown at form creation time
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'min_depth', 'value': ui.values[0]});
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'max_depth', 'value': ui.values[1]});
                //Update Remaining Leaseblocks 
                updateRemaininLeaseBlocks();
            }
        });
            
            
        // DISTANCE TO SUBSTATION UPDATED
        //Update Remaining Leaseblocks 
        $('#slider-input_distance_to_substation').bind( "slide slidechange", function(event, ui) {
            if (app.viewModel.scenarios.scenarioFormModel) { //this condition prevents error thrown at form creation time
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'substation', 'value': ui.value});
                //Update Remaining Leaseblocks 
                updateRemaininLeaseBlocks();
            }
        }); 
        
         
        // DISTANCE TO AWC UPDATED
        //Update Remaining Leaseblocks 
        $('#slider-input_distance_to_awc').bind( "slide slidechange", function(event, ui) {
            if (app.viewModel.scenarios.scenarioFormModel) { //this condition prevents error thrown at form creation time
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'awc', 'value': ui.value});
                //Update Remaining Leaseblocks 
                updateRemaininLeaseBlocks();
            }
        }); 

        
        // DISTANCE TO SHIPPING LANES UPDATED
        //Update Remaining Leaseblocks 
        $('#slider-input_distance_to_shipping').bind( "slide slidechange", function(event, ui) {
            if (app.viewModel.scenarios.scenarioFormModel) { //this condition prevents error thrown at form creation time
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'tsz', 'value': ui.value});
                //Update Remaining Leaseblocks 
                updateRemaininLeaseBlocks();
            }
        }); 
           
        
        // TRAFFIC DENSITY UPDATED 
        /*
        $('#ship_traffic_density_widget').click( function(e) {
            if ( ! app.viewModel.scenarios.scenarioFormModel.shipTrafficDensityParameter() ) {
                app.viewModel.scenarios.scenarioFormModel.shipTrafficDensityParameter(true);
                $('#id_input_filter_ais_density').attr('checked', 'checked');
                app.viewModel.scenarios.scenarioFormModel.updateFilters({'key': 'ais', 'value': 1});
                //Update Remaining Leaseblocks 
                updateRemaininLeaseBlocks();
            } else {
                app.viewModel.scenarios.scenarioFormModel.shipTrafficDensityParameter(false);
                $('#id_input_filter_ais_density').removeAttr('checked');
                app.viewModel.scenarios.scenarioFormModel.removeFilter('ais');
                updateRemaininLeaseBlocks();
            }
        });
        */
                
        
        
        $('#button_prev').click( function() { wizard('prev'); });
        $('#button_next').click( function() { wizard('next'); });
        wizard();
        
        $('ul.errorlist').each( function() {
            step = 3;
            wizard();
        });
        
        
        $('img.info').each( function() {
            var id = $(this).attr('id');
            var text = "none";
            topMiddle = false;
            topLeft = false;
            topRight = false;
            switch(id) {
                //Step 1 Categories
                case 'info_wind_speed':
                    topRight = true;
                    text = $('#info_wind_speed_content').html();
                    break;   
                case 'info_wind_speed_widget':
                    topLeft = true;
                    text = $('#info_wind_speed_widget_content').html();
                    break;                        
                default:
                    $(this).hide();
            }
            if (text != 'none') {                
                var my_configuration_object = {
                    content: text, 
                    show: { 
                        delay: 0,
                        when: { event: 'mouseover' } 
                    },
                    position: { corner: {} },
                    hide: { when: {event: 'mouseleave'} },
                    style: { 
                        name: 'blue' 
                    }
                };
                if (topMiddle) {
                    my_configuration_object.position.corner.target = 'topMiddle';
                    my_configuration_object.position.corner.tooltip = 'bottomMiddle';
                    my_configuration_object.style.width = 320;
                } else if (topLeft) {
                    my_configuration_object.position.corner.target = 'topRight';
                    my_configuration_object.position.corner.tooltip = 'bottomRight';
                    my_configuration_object.style.width = 270;            
                } else if (topRight) {
                    my_configuration_object.position.corner.target = 'topLeft';
                    my_configuration_object.position.corner.tooltip = 'bottomLeft';
                    my_configuration_object.style.width = 270;
                } else {
                    my_configuration_object.position.corner.target = 'rightMiddle';
                    my_configuration_object.position.corner.tooltip = 'leftMiddle';
                    my_configuration_object.style.width = 270;
                }
                //$(this).qtip(my_configuration_object);
            }
        }); 

         
        if ($("input[type='color']").length) {
            $.getScript("media/marco/js/mColorPicker.js");
        }   
        
        $('#id_name').keypress(function (e) {
            if (e.which === 13) {
                $('#scenario-form .submit_button').click();
                return false;
            } else {
                $('#invalid-name-message').hide();
            }
        });
        /*
        $('#scenario-form .submit_button').click( function() {
            var name = $('#id_name').val();
            if ($.trim(name) !== "") {  
                return true;
            }
            $('#invalid-name-message').show();
            return false;
        });
        */
        
        /* Tooltips */ 
        //overriding the template here to remove empty space for title
        $('.info-icon').popover({
            trigger: 'hover',
            template: '<div class="popover layer-popover"><div class="arrow"></div><div class="popover-inner layer-tooltip"><div class="popover-content"><p></p></div></div></div>'
        });
        $('.info-icon').click(function(e) {
            if ( $('.popover').is(':visible') ) {
                $('.popover').hide();
            }
        });
    });
    
</script>

{% if form.media %} {{ form.media }} {% endif %}
<h4>
    <!--<img src="/media/marco/img/multi.png"/>-->
    Wind Energy Siting
    
</h4>
<form id="wind-design-form" action="{{action}}" method="post"> 
  {% for hidden in form.hidden_fields %}
    <div style="display:none;">
        {{ hidden.errors }}
    </div>
    {{ hidden }}
  {% endfor %}
  <div id="error_bar"></div>
  
  <div id="step1" class="step">
    <p class="step-text"><i>Step 1 of 3 </i></p>
    <p class="instructions">Select 1 or more criteria for this sector </p>
    <label class="step-header">Wind Energy</label>
    <div id="step1_inputs">
        <ul class="parameters">
        <li>
            <div class="accordion" id="wind-speed-accordion">
                <div class="accordion-heading" data-bind="click: toggleWindSpeedWidget">
                    <label class="accordion-toggle">
                        {{ form.input_parameter_wind_speed }} 
                        <i class="check icon-large icon-check" data-bind="visible: windSpeedParameter()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">Wind Speed </span>
                        <i class="info-icon icon-info-sign" rel="popover" 
                            data-content="Estimated wind speed at 90m from data published by the National Renewable Energy Laboratory (NREL)."
                            data-placement="right"
                            data-container="body">
                        </i>
                    </label>
                </div>
                <div id="wind_speed_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': windSpeedParameter()}">
                    <div class="accordion-inner">
                        <div>
                            Potential:  
                            <span class="label">
                                <span id="wind_speed_text" class="potential">Outstanding</span>
                            </span>
                        </div>
                        <div> 
                            Min Avg Speed (m/s)
                            {{ form.input_avg_wind_speed }} 
                            {{ form.input_avg_wind_speed.errors }}   
                        </div> 
                        <div class="btn-group btn-group-layer show-layer-btn-group">
                            <a class="btn btn-info-sign" style="height: 16px; line-height: 16px" data-bind="click: toggleWindSpeedDescription, css: { 'active': windSpeedLayer.infoActive() }">
                                <i class="icon-info-sign icon-large"></i>
                            </a>

                            <a class="btn btn-layer show-layer-btn" style="height: 16px; line-height: 16px" data-bind="css: { 'active': windSpeedLayer.active(), 'not-active': ! windSpeedLayer.active() }, click: toggleWindSpeedLayer">
                                <div style="font-weight: normal">
                                    <span>Show Wind Speed Data</span>
                                    <i class="check icon-large icon-check" style="top: 8px" data-bind="visible: windSpeedLayer.active() && windSpeedLayer.visible()"></i>
                                    <i class="check icon-large icon-check-empty" style="top: 8px" data-bind="visible: windSpeedLayer.active() && ! windSpeedLayer.visible()"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion" id="distance-to-substation-accordion">
                <div class="accordion-heading" data-bind="click: toggleSubstationWidget">
                    <label class="accordion-toggle">
                        {{ form.input_parameter_distance_to_substation }}  
                        <i class="check icon-large icon-check" data-bind="visible: distanceToSubstationParameter()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">Distance to Coastal Substation </span> 
                        <!--<img src="/media/marco/img/info.png" id="info_substation" class="info" />-->
                        <i class="info-icon icon-info-sign" rel="popover" 
                            data-content="Distance to the nearest onshore 500kV substation. Note that substation locations are not shown in the planner due to the proprietary nature of the source data."
                            data-placement="right"
                            data-container="body">
                        </i>
                    </label>
                </div>
                <div id="distance_to_substation_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': distanceToSubstationParameter()}">
                    <div class="accordion-inner">
                        <span > 
                            Maximum Distance (in miles) 
                            {{ form.input_distance_to_substation }} 
                            {{ form.input_distance_to_substation.errors }}   
                        </span> 
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion" id="distance-to-awc-accordion">
                <div class="accordion-heading" data-bind="click: toggleAWCWidget">
                    <label class="accordion-toggle">
                        {{ form.input_parameter_distance_to_awc }}  
                        <i class="check icon-large icon-check" data-bind="visible: distanceToAWCParameter()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">Distance to Proposed AWC Hubs </span> 
                        <!--<img src="/media/marco/img/info.png" id="info_awc" class="info" />-->
                        <i class="info-icon icon-info-sign" rel="popover" 
                            data-content="The Atlantic Wind Connection is a proposed undersea transmission cable system that would bring power generated by Mid-Atlantic offshore wind turbines to shore."
                            data-placement="right"
                            data-container="body">
                        </i>
                    </label>
                </div>
                <div id="distance_to_awc_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': distanceToAWCParameter()}">
                    <div class="accordion-inner">
                        <span > 
                            Maximum Distance (in miles) 
                            {{ form.input_distance_to_awc }} 
                            {{ form.input_distance_to_awc.errors }}   
                        </span> 
                        <div class="btn-group btn-group-layer show-layer-btn-group">
                            <a class="btn btn-info-sign" style="height: 16px; line-height: 16px" data-bind="click: toggleAWCDescription, css: { 'active': awcLayer.infoActive() }">
                                <i class="icon-info-sign icon-large"></i>
                            </a>

                            <a class="btn btn-layer show-layer-btn" style="height: 16px; line-height: 16px" data-bind="css: { 'active': awcLayer.active(), 'not-active': ! awcLayer.active() }, click: toggleAWCLayer">
                                <div style="font-weight: normal">
                                    <span>Show AWC Routes & Hubs Data</span>
                                    <i class="check icon-large icon-check" style="top: 8px" data-bind="visible: awcLayer.active() && awcLayer.visible()"></i>
                                    <i class="check icon-large icon-check-empty" style="top: 8px" data-bind="visible: awcLayer.active() && ! awcLayer.visible()"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion" id="distance-to-shore-accordion">
                <div class="accordion-heading" data-bind="click: toggleDistanceToShoreWidget">
                    <label class="accordion-toggle">
                        {{ form.input_parameter_distance_to_shore }} 
                        <i class="check icon-large icon-check" data-bind="visible: distanceToShoreParameter()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">Distance to Shore  </span>
                        <i class="info-icon icon-info-sign" rel="popover" 
                            data-content="Distance to the official NOAA shoreline."
                            data-placement="right"
                            data-container="body">
                        </i>
                    </label>
                </div>
                <div id="distance_to_shore_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': distanceToShoreParameter()}">
                    <div class="accordion-inner">
                        <span> 
                            {{ form.input_min_distance_to_shore }}            
                            to
                            {{ form.input_max_distance_to_shore }} miles
                        </span>
                        {{ form.input_distance_to_shore }} 
                        {{ form.input_distance_to_shore.errors }} 
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion" id="depth-range-accordion">
                <div class="accordion-heading" data-bind="click: toggleDepthWidget">
                    <label class="accordion-toggle">
                        {{ form.input_parameter_depth }} 
                        <i class="check icon-large icon-check" data-bind="visible: depthRangeParameter()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">Depth Range  </span> 
                        <!--<img src="/media/marco/img/info.png" id="info_depth" class="info" />-->
                        <i class="info-icon icon-info-sign" rel="popover" 
                            data-content="Based on best available bathymetry data from the National Geophysical Data Center."
                            data-placement="right"
                            data-container="body">
                        </i>
                    </label>
                </div>
                <div id="depth_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': depthRangeParameter()}">
                    <div class="accordion-inner">
                        <div>
                            <span>
                                {{ form.input_min_depth }}            
                                to
                                {{ form.input_max_depth }} meters
                            </span>
                            {{ form.input_depth }}  
                            {{ form.input_depth.errors }}
                        </div>
                        <!--
                        <div class="btn-group btn-group-layer show-layer-btn-group">
                            <a class="btn btn-info-sign" style="height: 16px; line-height: 16px" data-bind="click: toggleDepthZonesDescription, css: { 'active': depthZonesLayer.infoActive() }">
                                <i class="icon-info-sign icon-large"></i>
                            </a>
                            <a class="btn btn-layer show-layer-btn" style="height: 16px; line-height: 16px" data-bind="css: { 'active': depthZonesLayer.active(), 'not-active': ! depthZonesLayer.active() }, click: toggleDepthZonesLayer">
                                <div style="font-weight: normal">
                                    <span>Show Depth Zones</span>
                                    <i class="check icon-large icon-check" style="top: 8px" data-bind="visible: depthZonesLayer.active() && depthZonesLayer.visible()"></i>
                                    <i class="check icon-large icon-check-empty" style="top: 8px" data-bind="visible: depthZonesLayer.active() && ! depthZonesLayer.visible()"></i>
                                </div>
                            </a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </li>
        </ul>
    </div>
    <p></p>
  </div>

  <div id="step2" class="step">
    <p class="step-text"><i>Step 2 of 3 </i></p>
    <p class="instructions">Choose any filtering criteria from other sectors </p>
    <label class="step-header">Shipping</label>
    <div id="step2_inputs">
        <ul class="parameters">
        <li>
            <div class="accordion" id="distance-to-shipping-accordion">
                <div class="accordion-heading" data-bind="click: toggleShippingLanesWidget">
                    <label class="accordion-toggle">
                        {{ form.input_filter_distance_to_shipping }}  
                        <i class="check icon-large icon-check" data-bind="visible: distanceToShippingParameter()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">Distance to Shipping Lanes </span> 
                        <!--<img src="/media/marco/img/info.png" id="info_lanes" class="info" />-->
                        <i class="info-icon icon-info-sign" rel="popover" 
                            data-content="Shipping lanes are designated traffic areas providing access routes for vessels proceeding to and from U.S. ports."
                            data-placement="right"
                            data-container="body">
                        </i>
                    </label>
                </div>
                <div id="distance_to_shipping_widget" class="inputfield accordion-body collapse" data-bind="css: {'in': distanceToShippingParameter()}">
                    <div class="accordion-inner">
                        <label class="param"> Minimum Distance (miles)
                            {{ form.input_distance_to_shipping }} 
                            {{ form.input_distance_to_shipping.errors }}   
                        </label> 
                        <!--<div style="margin-top: 10px">
                            <label id="shipping-lanes-layer-toggle" data-bind="click: toggleShippingLanesLayer">
                                <input id="shipping-lanes-layer-checkbox" data-bind="checked: shippingLanesLayer.active()" type="checkbox" name="checkbox" value="value"> 
                                Show Shipping Lanes Data</input>
                            </label>
                        </div>-->
                        <div class="btn-group btn-group-layer show-layer-btn-group">
                            <a class="btn btn-info-sign" style="height: 16px; line-height: 16px" data-bind="click: toggleShippingLanesDescription, css: { 'active': shippingLanesLayer.infoActive() }">
                                <i class="icon-info-sign icon-large"></i>
                            </a>

                            <a class="btn btn-layer show-layer-btn" data-bind="css: { 'active': shippingLanesLayer.active(), 'not-active': ! shippingLanesLayer.active() }, click: toggleShippingLanesLayer">
                                <div style="font-weight: normal">
                                    <span>Show Shipping Lanes Data</span>
                                    <i class="check icon-large icon-check" style="top: 8px" data-bind="visible: shippingLanesLayer.active() && shippingLanesLayer.visible()"></i>
                                    <i class="check icon-large icon-check-empty" style="top: 8px" data-bind="visible: shippingLanesLayer.active() && ! shippingLanesLayer.visible()"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="accordion" id="exclude-ship-traffic-selectbox">
                <div class="accordion-heading" data-bind="click: toggleShipTrafficWidget">
                    {{ form.input_filter_ais_density }}  
                    <label id="ship_traffic_density_widget" class="accordion-toggle">
                        <i class="check icon-large icon-check" data-bind="visible: shipTrafficDensityParameter()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">Exclude Areas with High Ship Traffic </span> 
                        <!--<img src="/media/marco/img/info.png" id="info_ais" class="info" />-->
                        <i class="info-icon icon-info-sign" rel="popover" 
                            data-content="Areas outside of shipping lanes for which AIS data indicate higher ship traffic can be excluded."
                            data-placement="right"
                            data-container="body">
                        </i>
                    </label>
                </div>
            </div>
        </li>
        </ul>
    </div>
    <p></p>
    <label class="step-header">Security</label>
    <div id="step2_inputs">
        <ul class="parameters">
        <li>
            <div class="accordion" id="exclude-uxo-selectbox">
                <div class="accordion-heading" data-bind="click: toggleUXOWidget">
                    {{ form.input_filter_uxo }}  
                    <label id="uxo_widget" class="accordion-toggle">
                        <i class="check icon-large icon-check" data-bind="visible: uxoParameter()"></i>
                        <i class="check icon-large icon-check-empty"></i>
                        <span class="parameter-label" style="margin-left: 5px">Exclude Areas with Unexploded Ordnances </span> 
                        <!--<img src="/media/marco/img/info.png" id="info_uxo" class="info" />-->
                        <i class="info-icon icon-info-sign" rel="popover" 
                            data-content="Generalized and known areas where unexploded ordnance were dumped can be excluded."
                            data-placement="right"
                            data-container="body">
                        </i>
                    </label>
                </div>
            </div>
        </li>
        </ul>
    </div>
    <p></p>
  </div>

<div id="step3" class="step">
    <p class="step-text"><i>Step 3 of 3 </i>
    <p class="instructions">Provide a <b>Name</b> to identify your Wind Energy Siting </p>
    <div class="step3-inputs">
        <div class="step3-param">
            {{ form.name.errors }}
            {{ form.name }} 
            <div id="invalid-name-message" class="control-group error" style="display: none; margin-top: -10px; margin-left: -5px;">
                <span class="help-inline">The <b>Name</b> field is required.</span>
            </div>           
        </div>
        <p class="instructions">Optionally, you may add a <b>Description</b> <!--and/or attach a file--> </p>
        <div class="step3-param">
            {{ form.description.errors }}
            {{ form.description }}            
        </div>
        <!--
        <div class="step3-param">
            {{ form.support_file.label_tag }}
            {{ form.support_file.errors }} 
            {% if form.support_file.help_text %}
                <p>{{ form.support_file.help_text }}</p>            
            {% endif %}
            {{ form.support_file }}         
        </div>
        -->
        <div id="scenario-cp">
            <!--<input type="color" value="#ff0667" data-text="hidden" style="height:20px;width:20px;" />-->
        </div>
    </div>
</div>

<p><button type="submit" value="submit" class="btn-submit btn">submit</button></p>
</form>

<div class="show-blocks-btn" data-bind="visible: app.viewModel.modernBrowser()">
    <span data-bind="visible: !isLeaseblockLayerVisible()">
        <a class="button btn" data-bind="click: activateLeaseblockLayer">
            <span class="badge" style="margin-right: 5px; margin-left: -5px;" data-bind="text: leaseblocksLeft"></span> Lease Blocks Remaining 
            <i class="icon-large icon-check-empty" style="margin-right: -5px; margin-left: 5px;"></i>
            <!--<img src="/media/marco/img/ajax-loader.gif" style="height: 15px; margin-right: -15px; margin-left: -15px;" data-bind="visible: showLeaseblockSpinner()" />-->
        </a>
    </span>
    <span data-bind="visible: isLeaseblockLayerVisible()">
        <a class="button btn" data-bind="click: deactivateLeaseblockLayer">
            <span class="badge" style="margin-right: 5px; margin-left: -5px;" data-bind="text: leaseblocksLeft"></span> Lease Blocks Remaining 
            <i class="icon-large icon-check" style="margin-right: -5px; margin-left: 5px;"></i>
            <!--<img src="/media/marco/img/ajax-loader.gif" style="height: 15px; margin-right: -15px; margin-left: -15px;" data-bind="visible: showLeaseblockSpinner()" />-->
        </a>
    </span>
</div>

<div class="show-blocks-btn" style="padding-right: 1px; color: #333333" data-bind="visible: ! app.viewModel.modernBrowser()">
    <label>Lease Blocks Remaining: <span data-bind="text: leaseblocksLeft"></span></label>
</div>

<div class="wizard_nav" style="width:100%">
    <div class="btn-group pull-right">
        <a href="#" class="button btn" onclick="this.blur(); return false;" id="button_prev"><span>&lt; Previous</span></a>
        <a href="#" class="button btn"  onclick="this.blur(); return false;" id="button_next"><span>Next &gt;</span></a>
        <a href="#" class="submit_button button btn" onclick="this.blur(); return false;"><span>Submit</span></a>
    </div>
</div>

<div>
    <div class="btn-group pull-left">
        <a href="#" class="cancel_button button red btn"><span>Cancel</span></a>
        
    </div>
</div>


<!-- TODO: clean up the following (much of it is not being used) after we've made some progress -->
<style type="text/css">

#id_input_parameter_wind_speed {
    display: none;
}
#id_input_parameter_distance_to_shore {
    display: none;
}
#id_input_parameter_depth {
    display: none;
}
#id_input_parameter_distance_to_substation {
    display: none;
}
#id_input_parameter_distance_to_awc {
    display: none;
}
#id_input_filter_distance_to_shipping {
    display: none;
}
#id_input_filter_ais_density {
    display: none;
}
#id_input_filter_uxo {
    display: none;
}


#wind-design-form i.check {
    top: 5px;
}
#wind-design-form .accordion-toggle i.check {
    left: -10px;
}
#wind-design-form i.icon-check-empty {
    display: block !important;
    opacity: .4;
    /* for IE */
    filter: alpha(opacity=40);
}
#wind-design-form label:hover i.icon-check-empty {
    display: block !important;
    opacity: .8;
    /* for IE */
    filter: alpha(opacity=80);
}
#wind-design-form .show-layer-btn {
    height: 16px; 
    line-height: 16px;
}
#wind-design-form .show-layer-btn-group {
    width: 70%; 
    margin: 15px 0px 5px 0px;
}
.show-blocks-btn a{
    height: 16px; 
    line-height: 16px;
}
.show-blocks-btn i.icon-check-empty {
    opacity: .4;
    /* for IE */
    filter: alpha(opacity=40);
}
.show-blocks-btn:hover i.icon-check-empty {
    opacity: .8;
    /* for IE */
    filter: alpha(opacity=80);
}
#wind-design-form .accordion-heading .accordion-toggle {
    padding: 4px 15px;
}
#wind-design-form .accordion-body {
    border-left: 0px !important;
}
#wind-design-form .accordion-inner {
    padding: 5px 0px;
    border-top: 0px;
    font-weight: normal;
}
#wind-design-form .inputfield {
    margin: 0px 20px;
}
.show-blocks-btn {
    margin-top: -10px;
    padding-bottom: 10px;
}



div .field > label { 
    font-size: 12px; 
    display: inline; 
}
div.param-checkboxes {
    padding-left: 10px !important;
}
span.potential {
    font-weight:bold; !important;
}
span.traffic {
    font-weight:bold; !important;
}
span.form-image { 
    float: left; 
    margin-left: -66px; 
}
span.form-image > img { 
    width:46px; 
    height:46px; 
}

.traffic {
    margin-top: 5px;
}
.traffic_widget {
    margin-top: 15px;
}


p.step-text {
    margin: 0px;
    text-align:left;
}
p.instructions {
    margin: 0px; 
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
    color: #47556C;
    font-size: 14px;
    font-weight: normal;
    font-family: sans-serif;
}
form ul {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 20px;
}
li label {   
    font-weight: normal !important;
    margin-bottom: 0px !important;
}
form ul.parameters {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 90%;
}

form ul.parameters i.info-icon {
    margin-left: 0px !important; 
    color: #666;
}
form ul.parameters i.info-icon:hover {
    color: #333;
}

label.step-header {
    margin-top: 5px;
    font-weight: bold;
    padding-left: 5px !important;
}
label.step3-header {
    font-weight: bold;
    padding-left: 5px !important;
    padding-bottom: 10px !important;
}
label.param {
    font-weight: normal !important;
    padding-left: 0px !important;
}
img.info {
    display: inline !important;
}

/* design stuff */

.panel form {
    /*background: none repeat scroll 0 0 #DDDDDD;*/
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
    height: 60%;
    width: 99%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}


.panel > form textarea,
.panel > form input[name="name"] {
    width: 90%;
}

.errorlist {
    color: red;
}

form {
    outline: none;
}

</style>

{% endblock %}