{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<script type="text/javascript">
    madrona.onShow(function(){
        $('#button_close').click( function() {
            //close this panel
            madrona.editors[0].panel.close();
        });
        $('#button_delete').click( function() {
            var url = "/sdc/scenario/delete/{{instance.id}}/";
            $.post(url, function(data) {
                //this post will delete the feature from the db
            });
            //close this panel
            madrona.editors[0].panel.close();
            //refresh My Shapes kmltree
            madrona.editors[0].refresh();
        });
        $('#button_return').click( function() {
            var uid = '{{instance.uid}}';
            var uri_template = "/features/scenario/{uid}/form/";
            var url = uri_template.replace('{uid}',uid);
            var panelOpts = {
                loading_msg: 'Loading Spatial Design Form',
                showClose: true
            };
            var panel = madrona.editors[0].panel;
            
            function setupForm(form, options){
                options = options || {};
                var el = panel.getEl();
                el.find('.close').hide();
                el.find('input[type=submit]').hide();
                var manipulator;

                opts = {
                    // Forcing submission of content thru iframe all the time, no
                    // matter whether a file upload field is associated with the 
                    // feature. I hate using iframes for this, but they are 
                    // necessary for uploads so we may as well be consistent in 
                    // their use with all forms.
                    iframe: true,
                    beforeSubmit: function(a,b,c) {
                        //panel.spin('Identifying leaseblocks that match your criteria...');
                        panel.spin('Saving Changes...');
                        $(that).trigger('saving', ["Saving changes"]);
                        return true;
                    },
                    success: function(text, status, req, formel){
                        $(that).trigger('doneSaving');
                        if(text.match('<form') || text.match('<FORM')){ // for ie8
                            // Validation error
                            // Set default panel options. panel is an instance var
                            var panelOpts = {
                                loading_msg: 'Loading form', 
                                // loading_msg: 'Loading ' + action.title, 
                                // ^^^ action.title was causing js error and stalling the app 
                                // when a form was returned with validation errors
                                showClose: true
                            };
                            panelOpts['showCloseButton'] = false;
                            panelOpts['success'] = function(){
                                madrona.setupForm = function(){
                                    alert('error:setupForm called after clearing?');
                                };
                            }
                            // set a setupForm function that can be called by content
                            // of the panel
                            madrona.setupForm = function(form){
                                setupForm(form);
                            }
                            panel.close();
                            panel.stopSpinning();
                            panel.showText(text, panelOpts);
                        }else{
                            panel.close();
                            panel.stopSpinning();
                            var info = jQuery.parseJSON(text);
                            if(info['status'] != 200 && info['status'] != 201){
                                tree.refresh();
                                alert('There was an error saving your feature.');
                            }else{
                                $(madrona.editors[0]).trigger('edit', [text, status, req, this]);
                            }
                        }
                    }
                };
                var a = $(form).attr('action');
                if(typeof a !== 'undefined') {
                    if(a[a.length - 1] !== '/'){
                        // For the benefit of IE
                        $(form).attr('action', a + '/');
                    }
                }
                $(form).ajaxForm(opts);

                el.find('.submit_button').click(function(){
                    form.trigger('submit');
                });
                el.find('.cancel_button').click(function(){
                    if(previouslySelected){
                        if(jQuery.isArray(previouslySelected)){
                            jQuery.each(previouslySelected, function(i,kmlObject){
                                kmlObject.setVisibility(true);                    
                            });
                        }else{
                            previouslySelected.setVisibility(true);                    
                        }
                    }
                    if(manipulator){
                        manipulator.destroy();
                    }
                    panel.close();
                    if(options.cancel){
                        options.cancel();
                    }
                });
                var tabs = el.find('.tabs');
                tabs.bind('tabsshow', function(e){
                    var div = $(this).parent().parent().parent();
                    // scroll to 1, then 0 for the benefit of dumb firefox
                    div.scrollTop(1);
                    div.scrollTop(0);
                });
                tabs.tabs('select', '#PanelAttributes');
                tabs.tabs('disable', 0);
                tabs.find('> .ui-tabs-nav').hide();            
                if(tabs && tabs.length && $('.errorlist').length){
                    tabs.tabs('select', '#PanelAttributes');
                }
                panel.show();
                if($('#PanelAttributes').length){
                    $('#PanelAttributes').parent().parent().parent().parent().scrollTop(1).scrollTop(0);                
                }

                $(that).trigger('form_shown', [panel, null]);
            };
            ///////////////////////////END setupForm///////////////////////
            
            // bind the setupForm function that can be called by content
            // of the panel
            madrona.setupForm = function(form){
                setupForm(form);
            }
            
            panel.showUrl(url, panelOpts);
        });        
    });
</script>

    <h1>
        <img src="/media/marco/img/multi.png"/>
        <small><small>Spatial Design for Wind Energy </small></small> 
        &nbsp;&nbsp;{{instance.name}} 
    </h1>
    
    <div id="satisfied" class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Inputs</span></a></li>
            {% if instance.satisfied %}
            <li><a href="#Reports"><span>Reports</span></a></li>
            {% endif %}
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            
    {% if not instance.satisfied %}
    
        <div class="box" style="padding: 0px 0px 50px 10px; margin-top: 10px;">
            <h2> There are 0 Leaseblocks that meet your criteria </h2>
        
    {% else %}   
    
            {% if instance.has_wind_energy_criteria %}
                <h2>Wind Energy Criteria</h2>
            {% endif %}
            
    {% endif %}
    
            {% if instance.has_wind_energy_criteria %}
                <div>
                    {% if instance.input_parameter_wea %}
                        <p><span class="label">
                            {% if instance.input_wea_names.1 %}  Wind Energy Areas: {% else %} Wind Energy Area: {% endif %}
                            {{ instance.input_wea_names|join:", " }}
                        </span></p>
                    {% endif %}
                    {% if instance.input_parameter_wind_speed %}
                        <p><span class="label"> 
                            Minimum Average Wind Speed: {{ instance.input_avg_wind_speed }} mph 
                        </span></p>
                    {% endif %}
                    {% if instance.input_parameter_distance_to_shore %}
                        <p><span class="label"> 
                            Distance to Shore: {{ instance.input_min_distance_to_shore|floatformat:0 }} to {{ instance.input_max_distance_to_shore|floatformat:0 }} miles 
                        </span></p>
                    {% endif %}
                    {% if instance.input_parameter_distance_to_awc %}
                        <p><span class="label"> 
                            Distance to AWC Station: {{ instance.input_distance_to_awc|floatformat:0 }} miles 
                        </span></p>
                    {% endif %}
                    {% if instance.input_parameter_depth %}
                        <p><span class="label"> 
                            Depth Range: {{ instance.input_min_depth|floatformat:0 }} to {{ instance.input_max_depth|floatformat:0 }} feet 
                        </span></p>
                    {% endif %}
                    {% if instance.input_parameter_substrate %}
                        <p><span class="label"> 
                            Seabed Types: {{ instance.input_substrate_names|join:", " }}
                        </span></p>                        
                    {% endif %}
                    {% if instance.input_parameter_sediment %}
                        <p><span class="label"> 
                            Sediment Types: {{ instance.input_sediment_names|join:", " }}
                        </span></p> 
                    {% endif %}
                </div>
            {% endif %}
            
            {% if instance.has_shipping_filters %}
                <h2>Shipping Filters</h2>
                <div>
                    {% if instance.input_filter_ais_density %}
                        <p><span class="label">
                            Excluding Areas of High Ship Traffic
                        </span></p>
                    {% endif %}
                    {% if instance.input_filter_distance_to_shipping %}
                        <p><span class="label"> 
                            Distance to Ship Routing Measures: {{ instance.input_distance_to_shipping|floatformat:0 }} miles 
                        </span></p>
                    {% endif %}
                </div>
            {% endif %}
            
            {% if instance.has_military_filters %}
            <h2>Military Filters</h2>
                <p><i>None Chosen</i></p>
            {% endif %}   
            
    {% if instance.satisfied %}        
    
            {% if instance.description %}
            <h2>Description</h2>
                <p>{{instance.description}}</p>
            {% endif %}
                
            {% if instance.support_file %}
            <h2>Support File</h2>
                <div>
                    <p><a href="{{instance.support_file.url}}" target="_blank">{{instance.support_filename}}</a></p>
                </div>
            {% endif %}
            
        </div>
        
        <div id="Reports" class="tabs">
            <ul>
                <li><a href="{% url sdc_analysis instance.pk %}"><span>Sample Report</span></a></li>
            </ul>
        </div>
        
        {% if instance.done %}
        {% for scenario in instance.scenarios.all %}
        <div id="{{scenario.input_objective.short_name}}_report">
            <p>{{scenario.input_objective}} Reports coming soon...</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    
    {% else %}
    
        <h3 style="padding-top: 10px; padding-bottom: 15px;"> Try adjusting your criteria to locate leaseblocks that meet your specifications.  </h3>
        <div style="float: left;"> <a href="#" class="button" id="button_return"><span>Edit my Spatial Design</span></a> </div>
    </div>
    <div> <a href="#" id="button_close" class="button red"><span>Close</span></a> </div>
    <div> <a href="#" id="button_delete" class="button red" style="float: right;"><span>Delete</span></a> </div>
   
    {% endif %}
{% endblock panel %}
