{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

    <h1>
        <img src="/media/marco/img/multi.png"/>
        <small><small>SDC for Wind Energy </small></small> 
        &nbsp;&nbsp;{{instance.name}} {% if instance.geometry_is_empty %} (EMPTY RESULT) {% endif %}
    </h1>
    <div class="tabs">
        <ul>
            <li><a href="#Inputs"><span>Inputs</span></a></li>
            <li><a href="#reports"><span>Reports</span></a></li>
        </ul>
        <div id="Inputs">
            <ul class="metadata">
              {% if instance.user.first_name and instance.user.last_name %} 
                <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
              {% else %}
                <li class="creator">Created By {{instance.user.username}}</li>
              {% endif %}
                <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
                <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
                <br class="clear" />
            </ul>
            
            <h2>Wind Energy Inputs</h2>
                <div>
                    {% if instance.input_parameter_wea %}
                        {% if instance.input_wea_names.1 %} <p> Wind Energy Areas: </p> {% else %} <p> Wind Energy Area: </p> {% endif %}
                        <ul>
                        {% for wea in instance.input_wea_names %}
                            <li> {{wea}} </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if instance.input_parameter_wind_speed %}
                        <p> Minimum Average Wind Speed: {{ instance.input_avg_wind_speed }} mph</p>
                    {% endif %}
                    {% if instance.input_parameter_distance_to_shore %}
                        <p> Distance to Shore: {{ instance.input_min_distance_to_shore|floatformat:0 }} to {{ instance.input_max_distance_to_shore|floatformat:0 }} miles</p>
                    {% endif %}
                    {% if instance.input_parameter_distance_to_awc %}
                        <p> Distance to AWC Station: {{ instance.input_distance_to_awc|floatformat:0 }} miles</p>
                    {% endif %}
                    {% if instance.input_parameter_depth %}
                        <p> Depth Range: {{ instance.input_min_depth|floatformat:0 }} to {{ instance.input_max_depth|floatformat:0 }} feet</p>
                    {% endif %}
                    {% if instance.input_parameter_substrate %}
                        <p> Seabed Types: </p>
                        <ul>
                        {% for substrate in instance.input_substrate_names %}
                            <li> {{substrate}} </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if instance.input_parameter_sediment %}
                        <p> Sediment Types: </p>
                        <ul>
                        {% for sediment in instance.input_sediment_names %}
                            <li> {{sediment}} </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            
            <h2>Shipping Filters</h2>
                <p><i>None Chosen</i></p>
            
            <h2>Military Filters</h2>
                <p><i>None Chosen</i></p>
            
            {% if instance.description %}
            <h2>Description</h2>
                <p>{{instance.description}}</p>
            {% endif %}
                
            {% if instance.support_file %}
            <h2>Support File</h2>
                <div>
                    <p><a href="{{instance.support_file.url}}" target="_blank">{{instance.support_filename}}</a></p>
                </div>
            {% endif %}
            
        </div>
        
        <div id="reports" class="tabs">
            <ul>
                <li><a href="{% url sdc_analysis instance.pk %}"><span>Sample Report</span></a></li>
            </div>
        </div>
        
        {% if instance.done %}
        {% for scenario in instance.scenarios.all %}
        <div id="{{scenario.input_objective.short_name}}_report">
            <p>{{scenario.input_objective}} Reports coming soon...</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>

{% endblock panel %}
