/*body {
  padding-bottom: 40px;
}*/
.sidebar-nav {
  padding: 9px 0;
}

#map {
  height: 800px;
  margin-bottom: 15px;
}

#map-wrapper {
  position: relative;
}

#map-buttons {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1020;
}
#map-buttons button {
  width: 150px;
}

#attribute-data {
  position: absolute;
  /*top: 25%;*/
  top: 180px;
  right: 0;
  z-index: 950; 
  width: 250px;
  font-size: 16px;
  color: white;
  
}
#attribute-data > div {
  padding: 10px;
  border-radius: 4px;
/*  background-color: rgb(60, 110, 160);
*/  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}

#bookmarks-table {
  max-height: 150px;
  overflow-y: auto;
}

#opacity-popover .controls {
  width: 100%;
  height: 40px;
}

#opacity-popover .btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

#map-info {
  margin-top: 10px !important;
}
#pos {
  position: absolute;
  background: white;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  display: none;
  z-index: 1000;
}

#map .olControlAttribution {
  bottom: 0px;
  left: 3px;
}

#data-accordion, #legend-accordion {
  height: 100%;
  overflow-y: auto;
}

#legend-accordion .accordion-toggle {
    font-size: 12px;
}

#legend-header {
  margin-bottom:10px; 
  padding-top: 8px; 
  border-bottom: 2px solid #2D8998; 
  padding-bottom: 6px; 
  line-height: 20px;
  font-size: 16px;
}

i.check {
  position: absolute;
  right: 12px;
  top: 8px;
}

/* the following overrides a 20px margin that was behaving intermittently in conjunction with the hovering of icon-check-empty */
.accordion {
  margin-bottom: 0px !important;
}

.btn-layer.not-active:hover i.icon-check-empty {
  display: block !important;
  opacity: .4;
  /* for IE */
  filter: alpha(opacity=40);
}

#data-accordion .dropdown-menu {
  right: 26px;
  max-height: 100px;
  overflow-y: auto;
}

.attribution {
  font-size: 10px;
}
.theme-buttons {
  margin-bottom: 15px;
}

img.olTileImage {
    max-width: 256px !important;
}

div.olLayerGoogleCopyright,
div.olLayerGooglePoweredBy
{
  display: none !important;
}
.sidebar-nav {
  height: 600px;
}

.tab-content {
  overflow: visible;
}
.in {
  overflow: visible;
}

.layer-buttons {
  position: relative;
}
.layer-menu {
  position: absolute;
}

.dropdown-menu: {
  z-index: 1100 !important;
}

.btn .badge {
  margin-top: -5px !important;
}

.alert {
  margin-bottom: 0px;
}

.olImageLoadError { 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
    background-color: transparent; 
}


// hide some stuff when using sortable
// so the controls don't show

.ui-sortable-helper .btn {
  display: none;
}


a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    color:#aaa !important;
}

/*body {
  padding-bottom: 20px;
}*/

.sidebar-nav {
  padding: 9px 0;
}
#map {
  height: 800px;
  margin-bottom: 15px;
 
}

#map-wrapper {
  position: relative;
/* -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
*/
}

/* shifts the map left when hiding the layers panel */
.shift-left {
  margin-left: 0px !important;
}

.fullscreen-map {
  margin-left: 0px !important;
  width: 100% !important;
}
.fullscreen-with-layers {
  margin-left: 0px !important;
  /*width: 68.3% !important;*/
  width: 75% !important;
}
.fullscreen-with-legend {
  margin-left: 0px !important;
  width: 80% !important;
}
.fullscreen-with-legend-and-layers {
  margin-left: 0px !important;
  width: 55% !important;
}
.fullscreen-data {
  margin-left: 0px !important;
  width: 25% !important;
}
.fullscreen-legend {
  margin-left: 0px !important;
  width: 20% !important;
}

#map-buttons {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 1020;
}
#map-buttons button {
  width: 150px;
}

#description-overlay {
  position: absolute;
  /*border-radius: 4px; can't tell if I want this or not...*/
  bottom: 0;
  z-index: 950; 
  width: 100%;
  font-size: 12px;
  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}

#description-overlay > div{
  padding: 10px;
  color: white;
}

#description-overlay a{
  /*margin-left: 10px;*/
}

#description-overlay .title {
  font-size: 16px;
  font-weight: bold;
}

#description-overlay .text {
  font-size: 16px;
}

#overview-overlay {
  position: absolute;
  /*border-radius: 4px; can't tell if I want this or not...*/
  bottom: 0;
  z-index: 950; 
  min-width: 100%;
  max-height: 60%;
  /*overflow-x: hidden;
  overflow-y: auto;*/
  /*overflow: auto;*/
  font-size: 12px;
  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}

#overview-overlay-header {
  margin-bottom: 10px;
}

#overview-overlay-header .dropdown-menu {
  margin-top: 15px;
  background-color: rgba(60, 110, 160, 0.65);
}

#overview-overlay-header .dropdown-menu > li {
}

#overview-overlay-header .caret {
  /*border-top: 4px solid white;*/
  margin-left: 5px;
  margin-top: 8px;
}
#overview-overlay-header a .dropdown-toggle {
  background-color: rgba(60, 110, 160, 0.65);
  /*color: white;
  text-decoration: none;*/ /*these two lines caused problems with the close 'x' button*/
}

#overview-overlay-header a:hover {
  text-decoration: none;
}

#overview-overlay-header .dropdown-toggle {
  color: white;
  background-color: rgb(60, 110, 160);
  background-image: none;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
}

#overview-overlay-dropdown {
  background-color: rgb(60, 110, 160) !important;
  height: 100px;
  width: 100%;
  overflow: auto;
}

#overview-overlay-dropdown a{
  color: white;
  width: 75%;
}

#overview-overlay-dropdown .mCSB_container {
  margin-right: 0px;
}

#overview-overlay-content {
  padding: 10px;
  padding-bottom: 5px;
  color: white;
}

#overview-overlay-content .mCustomScrollBox {
  /*padding-bottom: 5px;  
  height: 105% !important;*/
}

#overview-overlay-text {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

#overview-overlay-text .mCSB_container {
  padding: 5px 10px 15px;  
  margin-right: 25px;
  background-color: rgba(60, 110, 160, 0.25098);
}

#overview-overlay-text .mCSB_scrollTools {
  height: 95%;
}

#overview-overlay .title {
  font-size: 16px;
  font-weight: bold;
}

#overview-overlay .text {
  font-size: 15px;
}

#overview-overlay .notes {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#overview-overlay-links {
  margin-top: 10px;
}

#overview-dropdown-button {
    min-width: 250px;
    text-align: left;
}

#overview-dropdown-button .caret {
  border-top: 4px solid white; 
}

#fullscreen-error-overlay {
  position: absolute;
  top: 0;
  z-index: 950; 
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
  color: white;
}

#error-overlay {
  position: absolute;
  top: 0;
  z-index: 950; 
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
  color: white;
}

#error-overlay > div,
#fullscreen-error-overlay > div {
  padding: 10px;
  border-radius: 4px;
/*  background-color: rgb(60, 110, 160);
*/  /* RGBa with 0.6 opacity */
  background-color: rgba(60, 110, 160, 0.65);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
}
#bookmarks-table {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: visible;
}

#opacity-popover .controls {
  width: 100%;
  height: 40px;
}

#opacity-popover .btn {
  margin-top: 5px;
  margin-bottom: 10px;
}

#map-info {
  margin-top: 10px !important;
}
#pos {
  position: absolute;
  background: white;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  display: none;
  z-index: 1000;
}

/*#data-accordion .accordion-group {
  overflow: visible;
}*/

#data-accordion, #legend-accordion {
  height: 400px;
  overflow-y: auto;
}

/*#data-accordion .accordion {
  overflow-x: visible;
}
*/
.accordion-inner {
  /*overflow: visible;*/
  background: white;
}

#legend-accordion .accordion-toggle {
    font-size: 12px;
}


#data-accordion .icon-info-sign {
  margin-left: -15px;
}


#data-accordion .dropdown-menu {
  right: 0px;
  margin-top: 0px;
}

.attribution {
  font-size: 10px;
}
.theme-buttons {
  margin-bottom: 15px;
}

img.olTileImage {
    max-width: 256px !important;
}

div.olLayerGoogleCopyright,
div.olLayerGooglePoweredBy
{
  display: none !important;
}
.sidebar-nav {
  height: 600px;
}

.tab-content {
  overflow: visible;
}
.in {
  overflow: visible;
}

.layer-buttons {
  position: relative;
}
.layer-menu {
  position: absolute;
}

.dropdown-menu: {
  z-index: 1100 !important;
}

.btn .badge {
  margin-top: -5px !important;
}

.alert {
  margin-bottom: 0px;
}

.olImageLoadError { 
    /* when OL encounters a 404, don't display the pink image */
    display: none !important;
}


// hide some stuff when using sortable
// so the controls don't show

.ui-sortable-helper .btn {
  display: none;
}


a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    color:#aaa !important;
}


.btn.tweet-trash {
    height: 20px;
    font-size: 16px;
}

.btn.tweet-trash i {
  margin-top: 3px;
  margin-left: 2px;
  padding: 0px;
}

.tweet-cell {
    width: 60px;
    padding-right: 0px !important;
}


#bookmark-popover {
  left: 650px;
  width: 300px;
  z-index: 1030;
}

#bookmark-modal {
  z-index: 1500;
}

.modal-backdrop {
  z-index: 1050;
}