{% extends 'common/panel.html' %}
{% block title %}{{instance.name}}{% endblock title %}
{% block panel %}

<h1>
    <img src="/media/marco/img/wind.png"/>
    <small><small>Wind Energy Site </small></small> 
    &nbsp;&nbsp;{{instance.name}} 
</h1>
<div class="tabs">
    <ul>
        <li><a href="#Inputs"><span>Inputs</span></a></li>
        <li><a href="#reports"><span>Reports</span></a></li>
    </ul>
    <div id="Inputs">
        <ul class="metadata">
          {% if instance.user.first_name and instance.user.last_name %} 
            <li class="creator">Created By {{instance.user.first_name}} {{instance.user.last_name}}</li>
          {% else %}
            <li class="creator">Created By {{instance.user.username}}</li>
          {% endif %}
            <li class="created">Created {{instance.date_created|date:"d M, Y P"}}</li>
            <li class="modified">Modified {{instance.date_modified|date:"d M, Y P"}}</li>
            <br class="clear" />
        </ul>
        
        <h2>Description</h2>
            {% if instance.description %}
            <p><span class="label">{{instance.description}}</span></p>
            {% else %}
            <p><i>None Provided</i></p>
            {% endif %}
    </div>
    
    <div id="reports" class="tabs">
        <ul>
            <li><a href="{% url wind_analysis instance.pk %}"><span>Sample Report</span></a></li>
        </div>
    </div>
    
</div>

{% endblock panel %}