<div id="feedback-tab" data-toggle="modal" data-target="#feedback-modal">
    feedback
</div>

<div id="feedback-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Feedback</h3>
    </div>
    <div class="modal-body">        
        <div class="control-group">
          <label class="control-label" for="name">Full Name</label>
          <div class="controls">
            <input class="input-xlarge" type="text" name="name" placeholder="Full Name" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">Email Address</label>
          <div class="controls">
            <input class="input-xlarge" type="email" name="email" placeholder="Email Address" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="comment">Comment</label>
          <div class="controls">
              <textarea class="input-xlarge" rows="3" name="comment" required></textarea>
          </div>
        </div>
   
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button type="submit" class="btn btn-primary">Send Feedback</a>
    </div>
  </form>
</div>

